<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ezticket.infra.code.CodeDao">

	<resultMap id="resultMapObj" type="com.ezticket.infra.code.CodeDto"></resultMap>

    <select id="selectList" parameterType="com.ezticket.infra.paging.pagingDto" resultMap="resultMapObj">
        
        SELECT
        	a.ifcgSeq 
            ,a.ifcgName
            ,a.ifcgdeleteNY
            ,b.ifcddeleteNY
            ,b.ifcdSeq
            ,b.ifcdName
            ,b.ifcdRgstrDate
            ,b.ifcdModifiedDate
            ,b.codegroupIfcgseq
         FROM codegroup a
         join code b
         on a.ifcgSeq  = b.codegroupIfcgseq 
         <if test="shDelNy != null and !shDelNy.equals('')">AND b.ifcddeleteNY = #{shDelNy}</if>   
       <!--         
				<choose>
					<when test="shOptionDate == 1">AND a.regDateTime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
					<when test="shOptionDate == 2">AND a.modDateTime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
					</choose> -->        
	        <choose>
	            <when test="shOption == 1">AND b.ifcdSeq = #{shValue}</when>
	            <when test="shOption == 2">AND b.ifcdName LIKE CONCAT('%',#{shValue},'%')</when>
	        </choose> 
         ORDER BY b.ifcdSeq DESC
         LIMIT #{pagination.limitStart}, #{recordSize}
    </select>
    <!-- LIMIT #{pagination.limitStart}, #{recordSize} -->
    
    <select id="count" parameterType="com.ezticket.infra.paging.pagingDto" resultType="int">
        SELECT
            COUNT(*)
        FROM
            code a
            LEFT JOIN codegroup b on b.ifcgSeq = a.ifcdSeq
        WHERE
            ifcddeleteNY = 0
    </select>
    
    
    <select id="selectOne">
    SELECT 
    ifcdSeq
    ,ifcdName
    ,ifcdRgstrDate
    ,ifcddeleteNY
    FROM code 
    WHERE 1=1 AND ifcdSeq = #{ifcdSeq}
    </select>
    
    <insert id="insert">
    insert into code
    (
    ifcdName
    ,ifcddeleteNY
    ,codegroupIfcgseq
    )
    values
    (
    #{ifcdName}
    ,#{ifcddeleteNY}
    ,#{codegroupIfcgseq}
    )
    </insert>
    
    <update id="update">
    update code
    set 
    ifcdName = #{ifcdName}
    where 
    ifcdSeq = #{ifcdSeq}
    </update>
    
     <delete id="delete">
    DELETE 
    FROM code
    WHERE ifcdSeq = #{ifcdSeq}
    </delete>
    
    <update id="updatedelete">
    update code
    set 
    ifcddeleteNY = 1
    where 
    ifcdSeq = #{ifcdSeq}
    </update>
    
    <select id="selectListCachedCodeArrayList" resultMap="resultMapObj">
		SELECT 
			ifcdSeq
			, ifcdName
			, codegroupIfcgseq
		FROM
			code
		WHERE 1=1
			AND ifcddeleteNY = 0
   </select>

   <!--  ,(select count(aa.ifcdSeq) from infrCode aa where 1=1 and aa.ifcdDelNy = 0 and aa.ifcgSeq = a.ifcgSeq) as xifcdSeqCount -->
	  
</mapper>