<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ezticket.infra.performance.PerformanceDao">

	<resultMap id="resultMapObj"
		type="com.ezticket.infra.performance.PerformanceDto"></resultMap>

	<!-- 관리자 리스트 -->
	<select id="selectList" resultMap="resultMapObj">
		SELECT
		a.prSeq,
		a.prTitle,
		a.prperformanceType,
		a.prViewingTime,
		d.plplace,
		a.prStartDate,
		a.prEndDate,
		a.prHostedPlanned,
		a.prAgeLimit,
		a.prAttenDance,
		a.prDetails,
		a.prRgstrDate,
		a.prModifiedDate,
		a.prdeleteNY

		FROM
		performanceList a
		join
		placemapping b
		on
		a.prSeq = b.prSeq
		join
		place d
		on
		d.plSeq = b.plSeq
		WHERE 1=1
		<include refid="selectCommon" />
		ORDER BY prSeq DESC
		limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>


	<!-- 유저 리스트 -->
	<select id="usrselectList" resultMap="resultMapObj">
			SELECT
			a.prSeq,
			a.prTitle,
			a.prperformanceType,
			a.prViewingTime,
			d.plplace,
			a.prStartDate,
			a.prEndDate,
			a.prHostedPlanned,
			a.prAgeLimit,
			a.prAttenDance,
			a.prDetails,
			a.prRgstrDate,
			a.prModifiedDate,
			a.prdeleteNY
	
			FROM
				performanceList a
			join
				placemapping b
			on
				a.prSeq = b.prSeq
			join
				place d
			on
				d.plSeq = b.plSeq
			WHERE 1=1

		<include refid="selectCommonusr"/>
		ORDER BY prSeq DESC
	</select>

	<!-- 유저 리스트 랭킹 -->
	<select id="usrselectRanking" resultMap="resultMapObj">
		SELECT
			a.prSeq,
			a.prTitle,
			a.prperformanceType,
			a.prViewingTime,
			d.plplace,
			a.prStartDate,
			a.prEndDate,
			a.prHostedPlanned,
			a.prAgeLimit,
			a.prAttenDance,
			a.prDetails,
			a.prRgstrDate,
			a.prModifiedDate,
			a.prdeleteNY

		FROM
			performanceList a
		join
			placemapping b
		on
			a.prSeq = b.prSeq
		join
			place d
		on
			d.plSeq = b.plSeq
		WHERE 1=1
			ORDER BY a.prAttenDance DESC
	</select>


	<!-- 유저 배우 리스트 -->
	<select id="castMemberList" resultMap="resultMapObj">
		SELECT
		a.prSeq,
		a.prTitle,
		d.cmName,
		b.cpSeq,
		b.cpRole

		from
		performancelist a
		join
		castmembermapping b
		on
		a.prSeq = b.prSeq
		join
		castmember d
		on
		d.cmseq = b.cmseq
		where
		b.prSeq = #{prSeq}
	</select>


	<!-- 결제 완료 리스트 -->
	<select id="usrselectPay" resultMap="resultMapObj">
		select
		a.pmTicketCode,
		b.prTitle,
		c.plplace,
		d.tatheaterNumber,
		e.pdselectionDate,
		e.pdselectionTime,
		f.stSeatCode,
		f.stSeatNumber,
		g.mbName

		From
		payment a
		join
		performancelist b
		on
		a.prSeq = b.prSeq

		join
		place c
		on
		a.plSeq = c.plSeq

		join
		theater d
		on
		a.taSeq = d.taSeq

		join
		performancedate e
		on
		a.pdSeq = e.pdSeq

		join
		seat f
		on
		a.stSeq = f.stSeq

		join
		members g
		on
		a.mbSeq = g.mbSeq

		where
		g.mbSeq = #{prSeq}

		ORDER BY a.pmSeq DESC
	</select>
	
	
	<select id="bookdate" resultMap="resultMapObj">
			SELECT
				a.prStartDate,
				a.prEndDate,
				a.prSeq,
				b.plSeq
				
				from
					performancelist a
				join 
					place b
				on 
					b.plSeq = ${plSeq}
				where 
					prSeq = ${prSeq}

	</select>
	
	
	
	

	<!-- 공연 관정보 -->
	<select id="tabookList" resultMap="resultMapObj">
		SELECT
			a.tatheaterNumber,
			a.taSeq,
			c.prStartDate,
			c.prEndDate,
			d.pdselectionDate
			
			from
				theater a
			join
				place b
			on
				a.plSeq = b.plSeq AND b.plSeq = ${plSeq}
			join
				performancelist c
			on
			c.prSeq = ${plSeq}
			join 
				performancedate d 
			on
				d.pdSeq = a.taSeq

	</select>



	<!-- 티켓 화면 첫번째 날짜/시간 정보 -->
	<!-- <select id="bookOneList" resultMap="resultMapObj">
		select
		a.pdSeq,
		a.pdselectionDate,
		a.pdselectionTime,
		b.tatheaterNumber,
		d.prTitle

		from
			performancedate a
		join
			theater b
		on
			a.taSeq = b.taSeq
		join
			place c
		on
			a.plSeq = c.plSeq AND c.plSeq = ${plSeq}
		join
			performancelist d
		on
			d.prSeq = ${prSeq}
		 <if test="shprDate != '' and !shprDate.equals('')">AND a.pdselectionDate = #{shprDate}</if>   

	</select> -->
	
	
	<select id="bookOneList" resultMap="resultMapObj">
		select
		a.pdSeq,
		a.pdselectionDate,
		a.pdselectionTime,
		b.tatheaterNumber,
		d.prTitle

		from
			performancedate a
		join
			theater b
		on
			a.taSeq = b.taSeq
		join
			place c
		on
			a.plSeq = c.plSeq AND c.plSeq = ${plSeq}
		join
			performancelist d
		on
			d.prSeq = ${prSeq}
		 <if test="shprDate != '' and !shprDate.equals('')">AND a.pdselectionDate = #{shprDate}</if>   

	</select>



	<!-- 리뷰 리스트 -->
	<select id="reviewList" resultMap="resultMapObj">
		select
		a.rvSeq,
		a.rvWriter,
		a.rvRvwCntnt,
		a.rvGpa,
		a.rvRgstrDate,
		a.prSeq
		from review a
		where a.prSeq = ${prSeq}
	</select>


	<!-- 답글 리스트 -->
	<select id="replyList" resultMap="resultMapObj">
		select
		a.rpSeq,
		a.rpWriter,
		a.rpRvwCntnt,
		a.rpRgstrDate,
		a.rvSeq
		from
		reply a
		join
		review b
		on a.rvSeq = b.rvSeq
	</select>

	<select id="count" resultType="Integer">
		SELECT
		COUNT(*)
		FROM
		performanceList a

		where 1=1
		<include refid="selectCommon" />
	</select>
	
	<select id="taselectOne" resultMap="resultMapObj">
		SELECT
			a.tatheaterNumber,
			a.taSeq,
			c.prStartDate,
			c.prEndDate,
			d.pdselectionDate
			
			from
				theater a
			join
				place b
			on
				a.plSeq = b.plSeq AND b.plSeq = ${plSeq}
			join
				performancelist c
			on
			c.prSeq = ${plSeq}
			join 
				performancedate d 
			on
				d.pdSeq = a.taSeq

	</select>

	<select id="selectOne">
		SELECT
		a.prSeq,
		a.prTitle,
		a.prperformanceType,
		a.prViewingTime,
		a.prStartDate,
		a.prEndDate,
		a.prHostedPlanned,
		a.prAgeLimit,
		a.prAttenDance,
		a.prDetails,
		a.prRgstrDate,
		a.prModifiedDate,
		a.prdeleteNY,
		d.plplace,
		d.plSeq

		FROM
		performanceList a
		join
		placemapping b
		on
		a.prSeq = b.prSeq
		join
		place d
		on
		d.plSeq = b.plSeq
		WHERE
		1=1 AND a.prSeq = #{prSeq}
	</select>

	<update id="update">

		UPDATE performanceList
		SET
		prTitle = #{prTitle},
		prHostedPlanned = #{prHostedPlanned},
		prAgeLimit = #{prAgeLimit},
		prStartDate = #{prStartDate},
		prEndDate = #{prEndDate}
		WHERE prSeq = #{prSeq}

	</update>

	<insert id="insert">

		INSERT INTO performanceList
		(
		prTitle,
		prdeleteNY,
		prHostedPlanned,
		prAgeLimit,
		prStartDate,
		prEndDate
		)
		VALUES
		(
		#{prTitle}
		,#{prdeleteNY}
		,#{prHostedPlanned}
		,#{prAgeLimit}
		,#{prStartDate}
		,#{prEndDate}
		)

	</insert>

	<update id="updatedelete">

		UPDATE performanceList
		SET
		prdeleteNY = 1
		WHERE prSeq = #{prSeq}

	</update>

	<delete id="delete">
		DELETE
		FROM performanceList
		WHERE prSeq = #{prSeq}
	</delete>

	<sql id="selectCommon">
		<if test="shDelNy != null and !shDelNy.equals('')">AND prdeleteNY = #{shDelNy}</if>
		<if test="shAge != null and !shAge.equals('')">AND prAgeLimit = #{shAge}</if>

		<choose>
			<when test="shOptionDate == 1">AND prRgstrDate BETWEEN #{shDateStart} AND
				#{shDateEnd}</when>
			<when test="shOptionDate == 2">AND prModifiedDate BETWEEN #{shDateStart} AND
				#{shDateEnd}</when>
		</choose>
		<choose>
			<when test="shOption == 1">AND prSeq = #{shValue}</when>
			<when test="shOption == 2">AND prTitle LIKE CONCAT('%',#{shValue},'%')</when>
		</choose>
	</sql>
	
	
	<!-- 유저 검색 -->
	<sql id="selectCommonusr">
	<if test="shperformance != 0 and !shperformance.equals('')">AND a.prperformanceType = #{shperformance}</if>
		
		<choose>
			<when test="shOption == 1">AND prTitle LIKE CONCAT('%',#{shValue},'%')</when>
		</choose> 
	</sql>


	<!-- ,(select count(aa.ifcdSeq) from infrCode aa where 1=1 and aa.ifcdDelNy 
		= 0 and aa.ifcgSeq = a.ifcgSeq) as xifcdSeqCount -->

</mapper>