<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ezticket.infra.performance.PerformanceDao">

	<resultMap id="resultMapObj"
		type="com.ezticket.infra.performance.PerformanceDto"></resultMap>

	<!-- 관리자 리스트 -->
	<select id="selectList" resultMap="resultMapObj">
		SELECT
		a.prSeq,
		a.prTitle,
		a.prperformanceType,
		a.prViewingTime,
		d.plplace,
		a.prStartDate,
		a.prEndDate,
		a.prHostedPlanned,
		a.prAgeLimit,
		a.prAttenDance,
		a.prDetails,
		a.prRgstrDate,
		a.prModifiedDate,
		a.prdeleteNY

		FROM
		performanceList a
		join
		placemapping b
		on
		a.prSeq = b.prSeq
		join
		place d
		on
		d.plSeq = b.plSeq
		WHERE 1=1
		<include refid="selectCommon" />
		ORDER BY prSeq DESC
		limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>


	<!-- 유저 공연페이지 리스트 -->
	<select id="usrselectList" resultMap="resultMapObj">
			SELECT
			a.prSeq,
			a.prTitle,
			a.prperformanceType,
			a.prViewingTime,
			d.plplace,
			a.prArea,
			a.prStartDate,
			a.prEndDate,
			a.prHostedPlanned,
			a.prAgeLimit,
			a.prAttenDance,
			a.prDetails,
			a.prRgstrDate,
			a.prModifiedDate,
			a.prdeleteNY,
			(select AVG(aa.rvGpa) from  review aa  where aa.prSeq = a.prSeq) as grade
	
			FROM
				performanceList a
			join
				placemapping b
			on
				a.prSeq = b.prSeq
			join
				place d
			on
				d.plSeq = b.plSeq
			WHERE 1=1

		<include refid="selectCommonusr"/>
		ORDER BY prSeq DESC
		limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>

	<!-- 유저 리스트 랭킹 -->
	<select id="usrselectRanking" resultMap="resultMapObj">
		SELECT
			a.prSeq,
			a.prTitle,
			a.prperformanceType,
			a.prViewingTime,
			d.plplace,
			a.prStartDate,
			a.prEndDate,
			a.prHostedPlanned,
			a.prAgeLimit,
			a.prAttenDance,
			a.prDetails,
			a.prRgstrDate,
			a.prModifiedDate,
			a.prdeleteNY

		FROM
			performanceList a
		join
			placemapping b
		on
			a.prSeq = b.prSeq
		join
			place d
		on
			d.plSeq = b.plSeq
		WHERE 1=1
			ORDER BY a.prAttenDance DESC
			limit 10
	</select>


	<!-- 유저 배우 리스트 -->
	<select id="castMemberList" resultMap="resultMapObj">
		SELECT
		a.prSeq,
		a.prTitle,
		d.cmName,
		b.cpSeq,
		b.cpRole

		from
		performancelist a
		join
		castmembermapping b
		on
		a.prSeq = b.prSeq
		join
		castmember d
		on
		d.cmseq = b.cmseq
		where
		b.prSeq = #{prSeq}
	</select>
	
	<!-- 리뷰 리스트 -->
	<select id="reviewList" resultMap="resultMapObj">
		select
		a.rvSeq,
		a.rvWriter,
		a.rvRvwCntnt,
		a.rvGpa,
		a.rvRgstrDate,
		a.prSeq
		from review a
		where a.prSeq = ${prSeq}
		ORDER BY rvSeq DESC
	</select>
	<!-- 리뷰 인설트 -->
	<insert id= "reviewinsert">
	insert into review
	(
	rvWriter,
	rvRvwCntnt,
	rvGpa,
	prSeq
	)
	values
	(
	#{mbSeq},
	#{rvRvwCntnt},
	#{score},
	#{prSeq}
	)
	
	</insert>


	<!-- 답글 리스트 -->
	<select id="replyList" resultMap="resultMapObj">
		select
		a.rpSeq,
		a.rpWriter,
		a.rpRvwCntnt,
		a.rpRgstrDate,
		a.rvSeq
		from
		reply a
		join
		review b
		on a.rvSeq = b.rvSeq
		ORDER BY rpSeq DESC
	</select>
	<!-- 답글 인설트 -->	
	<insert id= "replyinsert">
	insert into reply
	(
	rpWriter,
	rpRvwCntnt,
	rvSeq
	)
	values
	(
	#{mbSeq},
	#{rpRvwCntnt},
	#{rvSeq}
	)
	
	</insert>


	<!-- 결제 완료 리스트 -->
	<select id="usrselectPay" resultMap="resultMapObj">
		select
		a.pmSeq,
		a.pmTicketCode,
		b.prTitle,
		c.plplace,
		d.tatheaterNumber,
		e.pdselectionDate,
		e.pdselectionTime,
		g.mbName
		From
		payment a
		join
		performancelist b
		on
		a.prSeq = b.prSeq

		join
		place c
		on
		a.plSeq = c.plSeq

		join
		theater d
		on
		a.taSeq = d.taSeq

		join
		performancedate e
		on
		a.pdSeq = e.pdSeq
		join
		members g
		on
		a.mbSeq = g.mbSeq

		where
		g.mbSeq = #{prSeq} and a.pmdeleteNY = 0

		ORDER BY a.pmSeq DESC
		limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
	<!-- 결제 시트 좌석 -->
	<select id = "usrseatPay" resultMap="resultMapObj">
		select 
			a.mbSeq
			,a.pmSeq
			,b.stSeq
            ,c.stSeatCode
            ,c.stSeatNumber
			from 
				payment a
				join 
					selectseat b
				on
					a.pmSeq = b.pmSeq and a.mbSeq = #{prSeq}
				join 
					seat c
				on 
					c.stSeq = b.stSeq
				ORDER BY a.pmSeq DESC
	</select>
	
	<!-- 결제 완료 페이징 카운트 -->
	<select id="usescount" resultType="Integer">
		SELECT
		COUNT(*)
		FROM
		payment

		where 1=1 and mbSeq = #{prSeq} and pmdeleteNY = 0
	</select>
	
	
	<!-- 시작날짜 종료 날짜 가져오기 -->
	<select id="bookdate" resultMap="resultMapObj">
			SELECT
				a.prStartDate,
				a.prEndDate,
				a.prSeq,
				b.plSeq
				
				from
					performancelist a
				join 
					place b
				on 
					b.plSeq = ${plSeq}
				where 
					prSeq = ${prSeq}

	</select>
	
	<!-- 공연 관정보 -->
	<select id="tabookList" resultMap="resultMapObj">
		SELECT
			a.tatheaterNumber,
			a.taSeq,
			c.prStartDate,
			c.prEndDate
			
			from
				theater a
			join
				place b
			on
				a.plSeq = b.plSeq AND b.plSeq = ${plSeq}
			join
				performancelist c
			on
			c.prSeq = ${prSeq}

	</select>
	
	<!-- 날짜조회 -->
	<select id="bookOneList" resultMap="resultMapObj">
		select
		a.pdSeq,
		a.pdselectionDate,
		a.pdselectionTime,
		b.tatheaterNumber,
		d.prTitle

		from
			performancedate a
		join
			theater b
		on
			a.taSeq = b.taSeq
		join
			place c
		on
			a.plSeq = c.plSeq AND c.plSeq = ${plSeq}
		join
			performancelist d
		on
			d.prSeq = ${prSeq}
		 <if test="shprDate != '' and !shprDate.equals('')">AND a.pdselectionDate = #{shprDate}</if>   

	</select>
	
	
	
	<!-- 결제셀렉트  -->
	 <select id = "Paymentlist" resultMap="resultMapObj">
		select 

		stSeq,
		stRating,
		stSeatCode,
		stSeatNumber,
		stPrise
	
		from seat
		where 
		<if test="seat != null and seat.size != 0">
		stSeq IN
	          <foreach collection="seat" item="item" open="(" close=")" separator=",">
		           #{item}
			  </foreach> 		              
	  </if>
	</select> 
	<!-- 좌석 예매 수 -->
	<select id = "Paymentcount" resultType="Integer">
		select 

		count(*)
	
		from seat
		where 
		<if test="seat != null and seat.size != 0">
		stSeq IN
	          <foreach collection="seat" item="item" open="(" close=")" separator=",">
		           #{item}
			  </foreach> 		              
	  </if>
	</select> 
	<!-- 가격 합산 -->
	<select id = "Paymentsum" resultType="Double">
		select 

		sum(stPrise)
	
		from seat
		where 
		<if test="seat != null and seat.size != 0">
		stSeq IN
	          <foreach collection="seat" item="item" open="(" close=")" separator=",">
		           #{item}
			  </foreach> 		              
	  </if>
	</select> 
	
	<!-- 결제 최종 티켓 발행 -->
	<select id ="ticketfianl" resultMap="resultMapObj">
	select
		a.pmSeq,
		a.pmTicketCode,
		b.prTitle,
		(select sum(bb.stPrise)
        from 
			selectseat aa
		join
			seat bb
		on aa.stSeq = bb.stSeq and aa.pmSeq = #{pmSeq}
        ) as totalprice,
		c.plplace,
		d.tatheaterNumber,
		e.pdselectionDate,
		e.pdselectionTime,
		g.mbName
			From
				payment a
					join
						performancelist b
					on
						a.prSeq = b.prSeq
			
					join
						place c
					on
						a.plSeq = c.plSeq
			
					join
						theater d
					on
						a.taSeq = d.taSeq
				
					join
						performancedate e
					on
						a.pdSeq = e.pdSeq
					join
						members g
					on
						a.mbSeq = g.mbSeq
			
					where
						a.pmSeq = #{pmSeq}
	
	</select>
	
	<!-- 결제 후 티켓 발행 좌석 -->
	<select id ="ticketfianlseat" resultMap="resultMapObj">
	select  
		b.stSeatCode
        ,b.stSeatNumber
			from 
				selectseat a
			join 
				seat b
			on 
				a.stSeq = b.stSeq
			where 
				a.pmSeq = #{pmSeq}
	</select>
	
	<!-- 결제후 좌석 업데이트 -->
	<update id = "payseatupdate">

		update seat
		set
		stReservation = 1
		where
		<if test="seat != null and seat.size != 0">
		stSeq IN
	          <foreach collection="seat" item="item" open="(" close=")" separator=",">
		           #{item}
			  </foreach> 		              
	  </if>

	</update>
	
	<!-- 결제후 티켓정보 등록 -->
	<insert id ="payinsert"  
	parameterType = "com.ezticket.infra.performance.PerformanceDto" >
		<selectKey resultType ="Integer" keyProperty="pmSeq" order="AFTER">
		SELECT LAST_INSERT_ID()
		</selectKey>
		insert into payment
		(
			prSeq
			,mbSeq 
			,pdSeq
			,taSeq
			,plSeq
		)
		values
		   (
		   ${prSeq},
		   ${mbSeq},
		   ${pdSeq},
		   ${taSeq},
		   ${plSeq}
		   )
	
	</insert>
	
	<!-- 결제시 공연 선택시트정보 -->
	<insert id = "payseatinsert">
	insert into selectseat
	(
	stSeq, 
	pmSeq
	)
	values
	<foreach collection="seat" item="item" separator=",">
		   (
		   	${item},
		   	#{pmSeq}
		   )
	</foreach> 
	</insert>
	
	<!-- 공연 취소 좌석 정보 셀렉트 -->
	<select id="ticketseatList" resultType="String">
	select 
		stSeq
		from
			selectseat
		where 
			pmSeq = #{pmSeq}
	</select>
	<!-- 취소한 좌석 다시 업데이트 -->
	<update id = "ticketseatupt">

		update seat
		set
		stReservation = 0
		where
		<if test="seat != null and seat.size != 0">
		stSeq IN
	          <foreach collection="seat" item="item" open="(" close=")" separator=",">
		           #{item}
			  </foreach> 		              
	 	 </if>

	</update>
	<!-- 티켓정보 ny변경 -->
	<update id = "ticketuptdel">
		update payment
		set 
		pmdeleteNY = 1
		where
		 pmSeq = #{pmSeq}
		
	</update>
	<!-- 티켓 시트 ny 변경 -->
	<update id = "tickerseatuptdel">
		update selectseat
		set
		sltdeleteNY = 1
		where
		 pmSeq = #{pmSeq}
	
	</update>


	

	<select id="count" resultType="Integer">
		SELECT
		COUNT(*)
		FROM
		performanceList a

		where 1=1
		<include refid="selectCommon" /> 
	</select>
	
	
	<!-- 날짜 확인 -->
	<select id="taselectOne" resultMap="resultMapObj">
		SELECT
			a.tatheaterNumber,
			a.taSeq,
			c.prStartDate,
			c.prEndDate,
			d.pdselectionDate
			
			from
				theater a
			join
				place b
			on
				a.plSeq = b.plSeq AND b.plSeq = ${plSeq}
			join
				performancelist c
			on
			c.prSeq = ${prSeq}
			join 
				performancedate d 
			on
				d.taSeq = a.taSeq And d.pdselectionDate = #{shprDate}
			<!-- <if test="shprDate != '' and !shprDate.equals('')">AND d.pdselectionDate = #{shprDate}</if>  -->  	

	</select>
	
	
	<!-- 좌석 리스트 -->
	<select id="bookseatList" resultMap="resultMapObj">
		SELECT
			a.stSeq,
			a.stRating, 
			a.stSeatCode, 
			a.stSeatNumber, 
			a.stPrise, 
			a.stReservation, 
			a.plSeq,
			a.taSeq, 
			a.pdSeq
			from
				seat a
			where
				a.plSeq = #{plSeq} And 
				a.taSeq = #{taSeq} And
				a.pdSeq = #{pdSeq}
	</select>
	

	<select id="selectOne">
		SELECT
		a.prSeq,
		a.prTitle,
		a.prperformanceType,
		a.prViewingTime,
		a.prStartDate,
		a.prEndDate,
		a.prHostedPlanned,
		a.prAgeLimit,
		a.prAttenDance,
		a.prDetails,
		a.prRgstrDate,
		a.prModifiedDate,
		a.prdeleteNY,
		d.plplace,
		d.plSeq,
		(select AVG(aa.rvGpa) from  review aa  where aa.prSeq = #{prSeq}) as grade

		FROM
		performanceList a
		join
		placemapping b
		on
		a.prSeq = b.prSeq
		join
		place d
		on
		d.plSeq = b.plSeq
		WHERE
		1=1 AND a.prSeq = #{prSeq}
	</select>

	<update id="update">

		UPDATE performanceList
		SET
		prTitle = #{prTitle},
		prHostedPlanned = #{prHostedPlanned},
		prAgeLimit = #{prAgeLimit},
		prStartDate = #{prStartDate},
		prEndDate = #{prEndDate}
		WHERE prSeq = #{prSeq}

	</update>

	<insert id="insert">

		INSERT INTO performanceList
		(
		prTitle,
		prdeleteNY,
		prHostedPlanned,
		prAgeLimit,
		prStartDate,
		prEndDate
		)
		VALUES
		(
		#{prTitle}
		,#{prdeleteNY}
		,#{prHostedPlanned}
		,#{prAgeLimit}
		,#{prStartDate}
		,#{prEndDate}
		)

	</insert>

	<update id="updatedelete">

		UPDATE performanceList
		SET
		prdeleteNY = 1
		WHERE prSeq = #{prSeq}

	</update>

	<delete id="delete">
		DELETE
		FROM performanceList
		WHERE prSeq = #{prSeq}
	</delete>

	<sql id="selectCommon">
		<if test="shDelNy != null and !shDelNy.equals('')">AND prdeleteNY = #{shDelNy}</if>
		<if test="shAge != null and !shAge.equals('')">AND prAgeLimit = #{shAge}</if>

		<choose>
			<when test="shOptionDate == 1">AND prRgstrDate BETWEEN #{shDateStart} AND
				#{shDateEnd}</when>
			<when test="shOptionDate == 2">AND prModifiedDate BETWEEN #{shDateStart} AND
				#{shDateEnd}</when>
		</choose>
		<choose>
			<when test="shOption == 1">AND prSeq = #{shValue}</when>
			<when test="shOption == 2">AND prTitle LIKE CONCAT('%',#{shValue},'%')</when>
		</choose>
	</sql>
	
	
	<!-- 유저 검색 -->
	<sql id="selectCommonusr">
	<if test="shperformance != 0 and !shperformance.equals('')">AND a.prperformanceType = #{shperformance}</if>
	<if test="shArea != 0 and !shArea.equals('')">AND a.prArea = #{shArea}</if>
		
		<choose>
			<when test="shOption == 1">AND prTitle LIKE CONCAT('%',#{shValue},'%')</when>
		</choose> 
	</sql>


	<!-- ,(select count(aa.ifcdSeq) from infrCode aa where 1=1 and aa.ifcdDelNy 
		= 0 and aa.ifcgSeq = a.ifcgSeq) as xifcdSeqCount -->

</mapper>