
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>codeInsert</title>
</head>
<body>
	<form method="post" action="codeInsert">
		<input type="text" name="number"> 
		<input type="text" name="name" > 
		<input type="text" name="codegroup_number" > 
		<button type="submit">저장</button>
	</form>


	<!-- <form method="post" action="codeGroupupdatedelete">
		<input type="text" name ="number" th:value = "${item.number}">
		<input type="text" name ="groupname" th:value = "${item.groupname}">
		<button type="submit">수정</button>
	</form> -->

	<!-- <form method="post" action="codeGroupdelete">
		<input type="text" name ="number" th:value = "${item.number}">
		<input type="text" name ="groupname" th:value = "${item.groupname}">
		<button type="submit">삭제</button>
	</form> -->
</body>
</html>