<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">	


		<!-- 페이지 상당 내비바 -->
		<header class="header-wrapper header-wrapper--home">
            <div class="container"  th:fragment="navtop">
                <!-- Logo link-->
                <a th:href = "@{/useIndex}" class="logo">
                    <img alt='logo' src="usr/images/logo.png">
                </a>
				<form name="formList" id="formList" method="get" autocomplete="off">
                <!-- Main website navigation-->
                <nav id="navigation-box">
                    <!-- Toggle for mobile menu mode -->
                    <a href="#" id="navigation-toggle">
                        <span class="menu-icon">
                            <span class="icon-toggle" role="button" aria-label="Toggle Navigation">
                                <span class="lines"></span>
                            </span>
                        </span>
                    </a>

                    <!-- Link navigation -->
                    <ul id="navigation">
                        <li>
                            <span class="sub-nav-toggle plus"></span>
                            <a th:href="@{/usePerformanceList}">공연</a>
                            <ul>
                                <li class="menu__nav-item"><a th:href="@{/usePerformanceList(shperformance=24)}">뮤지컬</a>
                                </li>
                                <li class="menu__nav-item"><a th:href="@{/usePerformanceList(shperformance=25)}">연극</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span class="sub-nav-toggle plus"></span>
                            <a th:href="@{/usePerformanceRanking}">랭킹</a>
                        </li>
                        <li>
                            <span class="sub-nav-toggle plus"></span>
                            <a th:href="@{/usePerformanceArea}">지역</a>
                            <ul>
                                <li class="menu__nav-item"><a href="gallery-four.html">서울</a></li>
                                <li class="menu__nav-item"><a href="gallery-four.html">경기 / 인천</a></li>
                                <li class="menu__nav-item"><a href="gallery-four.html">대전 / 충청</a></li>
                                <li class="menu__nav-item"><a href="gallery-four.html">강원도</a></li>
                                <li class="menu__nav-item"><a href="gallery-four.html">부산 / 울산 / 경남</a></li>
                                <li class="menu__nav-item"><a href="gallery-four.html">대구 / 경북</a></li>
                                <li class="menu__nav-item"><a href="gallery-four.html">전라 / 광주</a></li>
                                <li class="menu__nav-item"><a href="gallery-four.html">제주도</a></li>
                            </ul> 
                        </li>
                        <li>
                            <span class="sub-nav-toggle plus"></span>
                            <a th:href = "@{/useInformation}">마이페이지</a>
                        </li>
                        <li>
                            <span class="sub-nav-toggle plus"></span>
                            <a href="contact.html">문의하기</a>
                        </li>
                    </ul>
                </nav>
                </form>
                <div class="control-panel">
                <span class="user-name d-none d-md-block" style="color: white;">[[${session.sessNameXdm}]]</span>
                    <a th:href = "@{/useLogin}" class="btn btn--sign">Sign in</a>
                    <a th:href = "@{/useLogin}" class="btn btn--sign" id = "Logout" name= "Logout">out</a>
                </div>

            </div>
        </header>
        
        
        
        
        <!-- 마이페이지 내비 바 -->
        <div class="col-md-3" th:fragment="modifynav">
                        <div class="category">
                            <h3 class="category__title">예매관리</h3>
                            <!-- <br><span class="title-edition">popular posts</span> -->
                            <ul>
                                <li><a th:href="@{/useInformation}" class="category__item">예매 확인/취소</a></li>
                                <!-- <li><a href="#" class="category__item"></a></li> -->
                            </ul>

                            <h3 class="category__title">회원정보관리</h3>
                            <ul>
                                <li><a th:href="@{/useModify}" class="category__item">회원정보/수정</a></li>
                                <li><a th:href="@{/usePwModifying}" class="category__item">비밀번호 수정</a></li>
                                <li><a th:href="@{/useWithdrawal}"  class="category__item">회원탈퇴</a></li>
                            </ul>
                        </div>
                    </div>
        
        


</html>