<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">	


		<!-- 페이지 상당 내비바 -->
		<header class="header-wrapper header-wrapper--home">
            <div class="container"  th:fragment="navtop">
                <!-- Logo link-->
                <a th:href = "@{/useIndex}" class="logo">
                    <img alt='logo' src="usr/images/logo.png">
                </a>
				<form name="formList" id="formList" method="get" autocomplete="off">
                <!-- Main website navigation-->
                <nav id="navigation-box">
                    <!-- Toggle for mobile menu mode -->
                    <a href="#" id="navigation-toggle">
                        <span class="menu-icon">
                            <span class="icon-toggle" role="button" aria-label="Toggle Navigation">
                                <span class="lines"></span>
                            </span>
                        </span>
                    </a>

                    <!-- Link navigation -->
                    <ul id="navigation">
                        <li>
                            <span class="sub-nav-toggle plus"></span>
                            <a th:href="@{/usePerformanceList}">공연</a>
                            <ul>
                                <li class="menu__nav-item"><a th:href="@{/usePerformanceList(shperformance=24)}">뮤지컬</a>
                                </li>
                                <li class="menu__nav-item"><a th:href="@{/usePerformanceList(shperformance=25)}">연극</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span class="sub-nav-toggle plus"></span>
                            <a th:href="@{/usePerformanceRanking}">랭킹</a>
                        </li>
                        <li>
                            <span class="sub-nav-toggle plus"></span>
                            <a th:href="@{/usePerformanceArea}">지역</a>
                            <ul>
                                <li class="menu__nav-item"><a th:href="@{/usePerformanceArea(shArea=12)}">서울</a></li>
                                <li class="menu__nav-item"><a th:href="@{/usePerformanceArea(shArea=13)}">경기 / 인천</a></li>
                                <li class="menu__nav-item"><a th:href="@{/usePerformanceArea(shArea=14)}">대전 / 충청</a></li>
                                <li class="menu__nav-item"><a th:href="@{/usePerformanceArea(shArea=15)}">강원도</a></li>
                                <li class="menu__nav-item"><a th:href="@{/usePerformanceArea(shArea=16)}">부산 / 울산 / 경남</a></li>
                                <li class="menu__nav-item"><a th:href="@{/usePerformanceArea(shArea=17)}">대구 / 경북</a></li>
                                <li class="menu__nav-item"><a th:href="@{/usePerformanceArea(shArea=18)}">전라 / 광주</a></li>
                                <li class="menu__nav-item"><a th:href="@{/usePerformanceArea(shArea=19)}">제주도</a></li>
                            </ul> 
                        </li>
                        <!-- <li >
                            <span class="sub-nav-toggle plus"></span>
                            <a th:href = "@{/useInformation}">마이페이지</a>
                        </li> -->
                        <!-- <li>
                            <span class="sub-nav-toggle plus"></span>
                            <a href="contact.html">문의하기</a>
                        </li> -->
                    </ul>
                </nav>
                <div class="control-panel" th:if="${session.sessSeqXdm != null}">
	                	<!-- <span class="user-name d-none d-md-block" style="color: white;">[[${session.sessNameXdm}]]</span>
	                    <a  class="btn btn--sign"  id = "Logout" name= "Logout">out</a> -->
	                
	                <div class="auth auth--home">
	                
                        <div class="auth__show">
                            <span class="auth__image" th:if="${session.sessimgXdm != null}">
                                <img alt="" th:src="${session.sessimgXdm}">
                            </span>
                            <span class="auth__image" th:unless="${session.sessimgXdm != null}">
                                <img alt="" src="usr/images/nuko.png">
                            </span>
                        </div>
                        <a href="#" class="btn btn--sign btn--singin" th:if="${session.sessNameXdm != null}">
                            [[${session.sessNameXdm}]]
                        </a>
                        <ul class="auth__function">
                            <li><a th:href = "@{/useInformation}" class="auth__function-item">마이페이지</a></li>
							<li><a id = "Logout" name= "Logout" class="auth__function-item">로그아웃</a></li>
                        </ul>

                    </div>
	
	                </div>
	                <div class="control-panel" th:unless="${session.sessSeqXdm != null}">
	                	<a th:href = "@{/useLogin}" class="btn btn--sign" sec:authorize="isAuthenticated()" style="margin-right: 180px">로그인</a>
	                </div>
                </form>
	                

            </div>
        </header>
        
        
        
        
        <!-- 마이페이지 내비 바 -->
        <div class="col-md-3" th:fragment="modifynav">
                        <div class="category">
                            <h3 class="category__title">예매관리</h3>
                            <!-- <br><span class="title-edition">popular posts</span> -->
                            <ul>
                                <li><a th:href="@{/useInformation}" class="category__item">예매 확인/취소</a></li>
                                <!-- <li><a href="#" class="category__item"></a></li> -->
                            </ul>

                            <h3 class="category__title">회원정보관리</h3>
                            <ul>
                                <li><a th:href="@{/useModify}" class="category__item">회원정보/수정</a></li>
                                <li><a th:href="@{/usePwModifying}" class="category__item">비밀번호 수정</a></li>
                                <!-- <li><a th:href="@{/useWithdrawal}"  class="category__item">회원탈퇴</a></li> -->
                            </ul>
                        </div>
                    </div>
        
        


</html>