<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

		<!-- Meta -->
		<meta name="description" content="Best Bootstrap Dashboard Templates" />
		<meta name="author" content="Bootstrap Gallery" />
		<link rel="canonical" href="https://www.bootstrap.gallery/">
		<meta property="og:url" content="https://www.bootstrap.gallery">
		<meta property="og:title" content="Admin Templates - Dashboard Templates | Bootstrap Gallery">
		<meta property="og:description" content="Marketplace for Bootstrap Admin Dashboards">
		<meta property="og:type" content="Website">
		<meta property="og:site_name" content="Bootstrap Gallery">
		<link rel="shortcut icon" href="xdm/images/favicon.svg" />

		<script src="xdm/js/jquery.min.js"></script>
    	<link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
		<script>
			window.addEventListener('load', function() {
				$("#shDateStart, #shDateEnd").datetimepicker({
					timepicker:false,
					format: 'Y-m-d'
				});
		});
		</script>

		<!-- Title -->
		<title>Admin Dashboard Templates - Admin Dashboards</title>

		<!-- *************
			************ Common Css Files *************
		************ -->
		<!-- Bootstrap css -->
		<link rel="stylesheet" href="xdm/css/bootstrap.min.css" />

		<!-- Bootstrap font icons css -->
		<link rel="stylesheet" href="xdm/fonts/bootstrap/bootstrap-icons.css" />

		<!-- Main css -->
		<link rel="stylesheet" href="xdm/css/main.css" />

		<!-- *************
			************ Vendor Css Files *************
		************ -->

		<!-- Scrollbar CSS -->
		<link rel="stylesheet" href="xdm/vendor/overlay-scroll/OverlayScrollbars.min.css" />

	</head>

	<body>

		<!-- Page wrapper start -->
		<div class="page-wrapper">

			<!-- Page header starts -->
			<div class="page-header">

				<div class="toggle-sidebar" id="toggle-sidebar">
					<i class="bi bi-list"></i>
				</div>

				<!-- Header actions ccontainer start -->
				<div class="header-actions-container">

					<!-- Search container start -->
					<div class="search-container me-4 d-xl-block d-lg-none">

						<!-- Search input group start -->
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Search" />
							<button class="btn btn-outline-secondary" type="button">
								<i class="bi bi-search"></i>
							</button>
						</div>
						<!-- Search input group end -->

					</div>
					<!-- Search container end -->

					<!-- Header actions start -->
					<div class="header-actions d-xl-flex d-lg-none gap-4">
						<div class="dropdown">
							<a class="dropdown-toggle" href="#!" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								<i class="bi bi-chat-text fs-5 lh-1"></i>
								<span class="count-label"></span>
							</a>
							<div class="dropdown-menu dropdown-menu-end shadow-lg">
								<div class="dropdown-item">
									<div class="d-flex py-2 border-bottom">
										<img src="xdm/images/user.png" class="img-3x me-3 rounded-3" alt="Admin Dashboards" />
										<div class="m-0">
											<h6 class="mb-1 fw-semibold">Araceli Barrera</h6>
											<p class="mb-1">Membership has been ended.</p>
											<p class="small m-0 text-secondary">Today, 07:30pm</p>
										</div>
									</div>
								</div>
								<div class="dropdown-item">
									<div class="d-flex py-2 border-bottom">
										<img src="xdm/images/user2.png" class="img-3x me-3 rounded-3" alt="Admin Dashboards" />
										<div class="m-0">
											<h6 class="mb-1 fw-semibold">Hershel Nixon</h6>
											<p class="mb-1">Congratulate, James for new job.</p>
											<p class="small m-0 text-secondary">Today, 08:00pm</p>
										</div>
									</div>
								</div>
								<div class="dropdown-item">
									<div class="d-flex py-2">
										<img src="xdm/images/user1.png" class="img-3x me-3 rounded-3" alt="Admin Dashboards" />
										<div class="m-0">
											<h6 class="mb-1 fw-semibold">Lottie Caldwell</h6>
											<p class="mb-1">Lewis added new schedule release.</p>
											<p class="small m-0 text-secondary">Today, 09:30pm</p>
										</div>
									</div>
								</div>
								<div class="d-grid mx-3 my-1">
									<a href="javascript:void(0)" class="btn btn-primary">View all</a>
								</div>
							</div>
						</div>
					</div>
					<!-- Header actions start -->

					<!-- Header profile start -->
					<div class="header-profile d-flex align-items-center">
						<div class="dropdown">
							<a href="#" id="userSettings" class="user-settings" data-toggle="dropdown" aria-haspopup="true">
								<span class="user-name d-none d-md-block">Roslyn Jackson</span>
								<span class="avatar">
									<img src="xdm/images/user4.png" alt="Admin Templates" />
									<span class="status online"></span>
								</span>
							</a>
							<div class="dropdown-menu dropdown-menu-end" aria-labelledby="userSettings">
								<div class="header-profile-actions">
									<a href="profile.html">Profile</a>
									<a href="account-settings.html">Settings</a>
									<a href="login.html">Logout</a>
								</div>
							</div>
						</div>
					</div>
					<!-- Header profile end -->

				</div>
				<!-- Header actions ccontainer end -->

			</div>
			<!-- Page header ends -->

			<!-- Main container start -->
			<div class="main-container">

				<!-- Sidebar wrapper start -->
				<nav class="sidebar-wrapper">

					<!-- Sidebar brand starts -->
					<div class="brand">
						<a href="index.html" class="logo">
							<img src="xdm/images/logo.svg" class="d-none d-md-block me-4" alt="Admin Dashboards" />
							<img src="xdm/images/logo-sm.svg" class="d-block d-md-none me-4" alt="Admin Dashboards" />
						</a>
					</div>
					<!-- Sidebar brand ends -->

					<!-- Sidebar menu starts -->
					<div class="sidebar-menu">
						<div class="sidebarMenuScroll">
							<ul>
								<li class="active-page-link">
									<a  th:href="@{/indexs}">
										<i class="bi bi-house"></i>
										<span class="menu-text">Analytics</span>
									</a>
								</li>
								
								<li class="sidebar-dropdown">
									<a href="#">
										<i class="bi bi-columns-gap"></i>
										<span class="menu-text">Forms</span>
									</a>
									<div class="sidebar-submenu">
										<ul>
											<li>
												<a th:href="@{/formvalidations}">Validations</a>
											</li>
										</ul>
									</div>
								</li>
								<li>
									<a th:href="@{/codeGroupXdmList}">
										<i class="bi bi-grid-3x3"></i>
										<span class="menu-text">Tables</span>
									</a>
								</li>
								
								<li>
									<a th:href="@{/login}">
										<i class="bi bi-shield-lock"></i>
										<span class="menu-text">Login</span>
									</a>
								</li>
								<li>
									<a th:href="@{/signup}">
										<i class="bi bi-unlock"></i>
										<span class="menu-text">Signup</span>
									</a>
								</li>
								<li>
									<a th:href="@{/forgotpassword}">
										<i class="bi bi-emoji-expressionless"></i>
										<span class="menu-text">Forgot Password</span>
									</a>
								</li>
								<li>
									<a th:href="@{/waring}">
										<i class="bi bi-exclamation-triangle"></i>
										<span class="menu-text">waring</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- Sidebar menu ends -->

				</nav>
				<!-- Sidebar wrapper end -->

				<!-- Content wrapper scroll start -->
				<div class="content-wrapper-scroll">

					<!-- Main header starts -->
					<div class="main-header d-flex align-items-center justify-content-between position-relative">
						<div class="d-flex align-items-center justify-content-center">
							<div class="page-icon">
								<i class="bi bi-window-split"></i>
							</div>
							<div class="page-title d-none d-md-block">
								<h5>코드그룹 관리</h5>
							</div>
						</div>
						<!-- Live updates start -->
						<ul class="updates d-flex align-items-end flex-column overflow-hidden" id="updates">
							<li>
								<a href="javascript:void(0)">
									<i class="bi bi-envelope-paper text-red font-1x me-2"></i>
									<span>12 emails from David Michaiah.</span>
								</a>
							</li>
							<li>
								<a href="javascript:void(0)">
									<i class="bi bi-bar-chart text-blue font-1x me-2"></i>
									<span>15 new features updated successfully.</span>
								</a>
							</li>
							<li>
								<a href="javascript:void(0)">
									<i class="bi bi-folder-check text-yellow font-1x me-2"></i>
									<span>The media folder is created successfully.</span>
								</a>
							</li>
						</ul>
						<!-- Live updates end -->
					</div>
					<!-- Main header ends -->

					<!-- Content wrapper start -->
					<div class="content-wrapper">
						<!-- Row start -->
							<div class="col-sm-12 col-12">
								<div class="card">
									<div class="card-body">
										<form name="formList" id="formList" method="post" autocomplete="off">
											<div class ="row gy-2">
												<div class="col-md-3">
													<select id="shDelNy" name="shDelNy" class="form-select form-select-sm">
														<option value="" th:selected="${vo.shDelNy == null}">삭제여부</option>
														<option value="1" th:selected="${vo.shDelNy == 1}">Y</option>
														<option value="0" th:selected="${vo.shDelNy == 0}">N</option>
													</select>
												</div>
												<div class="col-md-3">
													<select id="shOptionDate" name="shOptionDate" class="form-select form-select-sm">
														<option value="" th:selected="${vo.shOptionDate == null}">날짜</option>
														<option value="1" th:selected="${vo.shOptionDate == 1}">등록일</option>
														<option value="2" th:selected="${vo.shOptionDate == 2}">수정일</option>
													</select>
												</div>
												<div class="col-md-3">
													<input type="text" id="shDateStart" name="shDateStart" placeholder="시작일" class="form-control form-control-sm" autocomplete="off"
													th:value="${#strings.substring(vo.shDateStart, 0, 10)}" readonly>
												</div>
												<div class="col-md-3">
													<input type="text" id="shDateEnd" name="shDateEnd" placeholder="종료일" class="form-control form-control-sm" autocomplete="off" 
													th:value="${#strings.substring(vo.shDateEnd, 0, 10)}"readonly>
												</div>
												<div class="col-3">
													<select id="shOption" name="shOption" class="form-select form-select-sm">
														<option value="" th:selected="${vo.shOption == null}">검색구분</option>
														<option value="1" th:selected="${vo.shOption == null}">코드</option>
														<option value="2" th:selected="${vo.shOption == null}">코드이름</option>
													</select>
												</div>
												<div class ="col-md-3">
													<div class="m-0">
														<input type="text" class="form-control form-control-sm" placeholder="검색어"  id="shValue" name="shValue"  th:value="${shValue}" />
													</div>
												</div>
												<div class ="col-md-3">
													<div class="m-0 ">
														<button type="button" id="btnSearch" name ="btnSearch" class="btn btn-outline-primary btn-sm">
															<i class="bi bi-search"></i>
														</button>
														<button type="button" class="btn btn-outline-primary btn-sm	">
															<i class="bi bi-hand-thumbs-up"></i>
														</button>
													</div>
												</div>
											</div> 	
										</form>
										<div class ="row mt-1">
											<div class = "col-md">
												<label >Total : 
													<span ></span>
												</label>
											</div>
											<div class="col-md d-grid gap-2 d-md-flex justify-content-md-end col-xl-2 col-sm-6">
												<label>Pages </label>
													<select class="form-select form-select-sm justify-content-end" id ="aa">
														<option value="5">5</option>
														<option value="10">10</option>
														<option value="25">25</option>
														<option value="50">50</option>
													</select>
												
											</div>	
										</div>
											<div class="table-responsive mt-1 ">
												<table class="table align-middle m-0 text-center">
													<thead>
														<tr>
															<th><input class="form-check-input" type="checkbox" /></th>
															<th>그룹넘버</th>
															<th>그룹이름</th>
															<th>코드넘버</th>
															<th>코드이름</th>
															<th>등록일</th>
															<th>수정일</th>
															<th>삭제여부</th>
														</tr>
													</thead>
													<tbody class="align-middle">
														<tr th:if ="${!#lists.isEmpty(list)}"  th:each="list : ${list}">
															<td><input class="form-check-input" type="checkbox" 
															th:id ="chek+${list.ifcdSeq}"															
															th:value ="${list.ifcdSeq}" 
															th:checked="false"/></td>
															<td th:text = "${list.ifcgSeq}"></td>
															
															<!-- <td>
																<img src="xdm/images/flags/1x1/hk.svg" class="flag-img" alt="Hong Kong" />
															</td> -->
															<td ><a th:text = "${list.ifcgName}"></a></td>
															
															<td th:text = "${list.ifcdSeq}"></td>
															<td ><a th:href= "@{/codeXdmForm(ifcdSeq=${list.ifcdSeq})}" th:text = "${list.ifcdName}"></a></td>
															<td th:text = "${#dates.format(list.ifcdRgstrDate,'yyyy/MM/dd HH:mm:ss')}"></td>
															<td th:text = "${#dates.format(list.ifcdModifiedDate,'yyyy/MM/dd HH:mm:ss')}"></td>
															<td th:if = "${list.ifcddeleteNY eq 0 }"><span class="badge shade-green">n</span></td>
															<td th:unless ="${list.ifcddeleteNY eq 0}"><span class="badge shade-red">y</span></td>
														</tr>
													</tbody>										
												</table>
											</div>
	
											<div class = "row mt-3">
											<form id="" name="" method="get" action="/codeXdmList">
												<nav aria-label="Page Navigation">
													<ul class="pagination justify-content-center">

															<li class="page-item">
																<a class="page-link" href="#" aria-label="Previous">
																	<span aria-hidden="true">
																		<i class="bi bi-arrow-left"></i>
																	</span>
																</a>
															</li>
														<th:forEach begin="${page.startPage}" end="${page.endPage}" varStatus="i">
															<li class="page-item active">
																<a class="page-link" href="#">1</a>
															</li>
															<!-- <th:choose>
													    		<th:when test="${i.index eq vo.page}">
														    			<li class="page-item active">
														    			<a class="page-link" href="/codeXdmList?page=${i.index}">${i.index}</a>
														    			</li>
																</th:when>
															<th:otherwise>     
															   			 <li class="page-item">
															   			 <a class="page-link" href="/codeXdmList?page=${i.index}">${i.index}</a>
															   			 </li>
															</th:otherwise> -->
														</th:forEach>
														<li class="page-item">
															<a class="page-link" href="#" aria-label="Next">
																<span aria-hidden="true">
																	<i class="bi bi-arrow-right"></i>
																</span>
															</a>
														</li>
													</ul>
												</nav>
												</form>>
											</div>
											
											<div class ="row mt-3">
												<div class="col d-grid gap-2 d-md-flex" >
												
													<button type="button" class="btn btn-danger btn-rounded " 
													data-bs-toggle="modal" 
													data-bs-target="#exampleModal"
													>
														
														<i class="bi bi-trash-fill"></i>
													</button>  
													
													
														<div class="modal fade" 
														id="exampleModal" 
														tabindex="-1" 
														aria-labelledby="exampleModalLabel"
														aria-hidden="true">	
															<div class="modal-dialog">
																<div class="modal-content">
																	<div class="modal-header">
																		<h5 class="modal-title" id="exampleModalLabel">
																			삭제하시겠습니까?
																		</h5>
																		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
																	</div>
																	<div class="modal-body">
																	</div>
																	<div class="modal-footer">
																		<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
																				아니요.
																		</button>
																		<button type="submit" class="btn btn-primary">
																				예
																		</button>
																	</div>
																</div>
															</div>
														</div>
												</div>
												
												<div class="col d-grid gap-2 d-md-flex justify-content-md-end">
													<a th:href ="@{/codeXdmInst}"><button type="button" class="btn btn-primary btn-rounded" >
														<i class="bi bi-clipboard-plus"></i>
													</button></a>
												</div>
												<button id="button">버튼</button>
											</div>
									</div>
								</div>
							</div>
					</div>
				</div>
				<!-- Content wrapper scroll end -->

				<!-- App Footer start -->
				<div class="app-footer">
					<span>© Gear admin 2023</span>
				</div>
				<!-- App footer end -->

			</div>
			<!-- Main container end -->

		</div>
		<!-- Page wrapper end -->

		<!-- *************
			************ Required JavaScript Files *************
		************* -->
		<!-- 데이트 타입 픽커 -->
		<!-- <script src="xdm/js/jquery.min.js"></script>
    	<link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
		<script>
			window.addEventListener('load', function() {
				$("#shDateStart, #shDateEnd").datetimepicker({
					timepicker:false,
					format: 'Y-m-d'
				});
		});
		</script> -->
		<!-- 타입 픽커 끝 -->
		<!-- Required jQuery first, then Bootstrap Bundle JS -->
		
		<script src="xdm/js/bootstrap.bundle.min.js"></script>
		<script src="xdm/js/modernizr.js"></script>
		<script src="xdm/js/moment.js"></script>

		<!-- *************
			************ Vendor Js Files *************
		************* -->

		<!-- Overlay Scroll JS -->
		<script src="xdm/vendor/overlay-scroll/jquery.overlayScrollbars.min.js"></script>
		<script src="xdm/vendor/overlay-scroll/custom-scrollbar.js"></script>

		<!-- News ticker -->
		<script src="xdm/vendor/newsticker/newsTicker.min.js"></script>
		<script src="xdm/vendor/newsticker/custom-newsTicker.js"></script>


		<!-- Main Js Required -->
		<script src="xdm/js/main.js"></script>
		
		<script type="text/javascript">
			window.addEventListener('load', function() {
				$("#shDateStart, #shDateEnd").datetimepicker({
					timepicker:false,
					format: 'Y-m-d'
				});
				let form = document.querySelector("form[name=formList]");
				let goUrlXdmForm = "/xdm/infra/index/codeGroupXdmFrom";
				let goUrlXdmList = "/codeXdmList";	
				
				document.getElementById("btnSearch").onclick = function () {
				    form.action = goUrlXdmList;
				    form.submit();
				}; 
				
// 				document.getElementById("btnReset").onclick = function () {
// 				    location.href = goUrlXdmList;
// 				}
				
// 				document.getElementById("btnForm").onclick = function () {
// 				    goForm(0);
// 				}
				
				goForm = function (keyValue) {
				    seq.value = keyValue;
				    form.action = goUrlXdmForm;
				    form.submit();
				}
			});
			
			
		</script>
		

	</body>

</html>