

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>sdsdsdsd</h1>
    <!-- <div>
    	<table class="table align-middle m-0 text-center">
			<thead>
				<tr>
					<th>#</th>
					<th>#</th>
					<th>#</th>
					<th>#</th>
					<th>#</th>
					<th>#</th>
				</tr>
			</thead>
			<tbody class="align-middle">
				<tr th:if="${!#lists.isEmpty(node)}"
					th:each="node : ${node">
					<td></td>
					<td></td>
					<td></td>
					<td></td>

				</tr>
			</tbody>
		</table>
    </div> -->
</body>
</html>