<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
    table {
        width: 100%;
        border-top: 1px solid #444444;
        border-collapse: collapse;
    }

    th,
    td {
        border-bottom: 1px solid #444444;
        padding: 10px;
    }
</style>

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>AMovie - Gallery</title>
    <meta name="description" content="A Template by Gozha.net">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Gozha.net">

    <!-- Mobile Specific Metas-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="telephone=no" name="format-detection">


    <!-- 데이트 타입 픽커 -->
    <!-- <script src="/HTML/js/jquery.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen"
        href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
    <script>
        window.addEventListener('load', function () {
            $("#shDateStart, #shDateEnd").datetimepicker({
                timepicker: false,
                format: 'Y-m-d'
            });
        });
    </script>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>


    
    <!-- Fonts -->
    <!-- Font awesome - icon font -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Roboto -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>

    <!-- Stylesheets -->
    <!-- jQuery UI -->
    <link href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="stylesheet">

    <!-- Mobile menu -->
    <link href="usr/css/gozha-nav.css" rel="stylesheet" />

    <!-- Select -->
    <link href="usr/css/external/jquery.selectbox.css" rel="stylesheet" />

    <!-- Swiper slider -->
    <link href="usr/css/external/idangerous.swiper.css" rel="stylesheet" />

    <!-- Custom -->
    <link href="usr/css/style.css?v=1" rel="stylesheet" />

    <!-- Modernizr -->
    <script src="usr/js/external/modernizr.custom.js"></script>





</head>

<body>
    <div class="wrapper">
        <!-- Banner -->
        <div class="banner-top" th:replace="~{usr/block/usebody :: titleimg}">
		</div>

        <!-- Header section -->
        <header class="header-wrapper">
            <div class="container" th:replace="~{usr/block/usenav :: navtop}">
                
            </div>
        </header>
        

      <!--   <div class="search" th:replace="~{usr/block/usebody :: search}">
	    </div> -->
	    
	    

        <!-- Main content -->
        <form name="formpage" id="formpage" method="get" autocomplete="off" onsubmit="return false">
		 <input type="hidden" name="thisPage" th:value="${vo.thisPage}" default="1"/>
  		<input type="hidden" id="rowNumToShow" name="rowNumToShow" th:value="${vo.rowNumToShow}"/>
        <section class="container">
            <div class="col-sm-12">
                <h2 class="page-heading">예매 확인/취소</h2>

                <div class="row">
                    <div class="container" th:replace="~{usr/block/usenav :: modifynav}"></div>

                    <div class="col-md-9">
                        <!-- <div class="row">
                            <div class="col-sm-12">
                                <div class="promo promo--short">
                                    <img class="promo__images" alt='' src="usr/images/tickets.png">
                                    <div class="promo__head">예매 관리/취소</div>
                                    <div class="promo__content"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form row">
                            <div class="row" style="margin-top: 50px;">
                                <div class="col-md-3">
                                    <div class="rightalignment">
                                        <select  class="form__name" aria-label="Default select example">
                                            <option selected >예매일</option>
                                            <option value="1">관람일</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <input type='text' class="form__name" id="shDateStart" name="shDateStart" placeholder="시작일"  autocomplete="off">
                                </div>
                                <div class="col-md-3">
                                    <input type='text' class="form__name" id="shDateEnd" name="shDateEnd" placeholder="종료일"  autocomplete="off">
                                </div>
                                <div class="col-md-3">
                                    <div class="login__control">
                                        <button type='button' class="btn btn-md btn--warning btn--wider">검색</button>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                        <div class="row">
                            <div class="movie movie--preview movie--full comments"
                            th:if="${!#lists.isEmpty(list)}"
							th:each="list : ${list}">
                                <div class=" col-md-2 ">
                                    <div class="movie__images">
                                    	<a th:href="@{/useBookfinal(pmSeq=${list.pmSeq})}">
                                        <img alt='' src="usr/images/movie/movie-sample2.jpg">
                                        </a>
                                    </div>
                                </div>

                                <div class=" col-md-7 movie__about">
                                	 <p class="movie__option"><strong>예매 코드 : </strong>
                                	 <span th:text = "${list.pmSeq}"></span>
                                	 </p>
                                    <p class="movie__option"><strong>제목 : </strong>
                                  	<a th:href="@{/useBookfinal(pmSeq=${list.pmSeq})}">
                                    <span th:text = "${list.prTitle}"></span>
                                    </a>
                                    </p>
                                    <p class="movie__option"><strong>공영장소 : </strong>
                                    <span th:text = "${list.plplace}"></span>
                                    </p>
                                    <p class="movie__option"><strong>공영관 : </strong>
                                    <span th:text = "${list.tatheaterNumber}"></span>
                                    </p>
                                    <p class="movie__option"><strong>관람일시 : </strong>
                                    <span th:text = "${list.pdselectionDate}"></span>
                                    <span th:text = "${list.pdselectionTime}"></span>
                                    </p>
                                   <!--  <p class="movie__option"><strong>예매일 : </strong>2024-06-22</p> -->
                                   <p class="movie__option">
                                   <strong>좌석 : 
	                                    <span
	                                     th:if="${!#lists.isEmpty(seat)} and ${seat.pmSeq} == ${list.pmSeq}"
										th:each="seat : ${seat}" 
	                                    
	                                    th:text = "${seat.stSeatCode} + ${seat.stSeatNumber}">
	                                    </span>
                                    </strong>
                                   </p>
                           <!--          <p class="movie__option"><strong>취소가능일 : </strong>2024-06-15</p> -->
                                    <!-- <p class="movie__option"><strong>매수 : </strong>1</p> -->
                                    
                                </div>
                                <div class="col-md-2">
                                    <div class="movie__btns">
										<a th:href="@{/ticketdelete(pmSeq=${list.pmSeq})}" class="btn btn-md btn--warning">취소하기 </a>
									</div>
                                </div>

                                <div class="clearfix"></div>

                                <!-- Time table (choose film start time)-->
								
                                <!-- end time table-->
                            </div>
                        </div>
                        <div class="page_wrap">
		                 <div class="page_nation">
									<a th:if="${vo.startPage gt vo.pageNumToShow}" 
									style="cursor: pointer;"
									
									href="javascript:goList(${vo.startPage - 1})"
									th:attr="onclick=|goList('${vo.startPage - 1}')|">이전</a>

									<a
									th:each="num: ${#numbers.sequence(vo.startPage, vo.endPage)}"
									th:classappend="${num eq vo.thisPage} ? active : ''"
									 style="cursor: pointer;"
									th:attr="onclick=|goList('${num}')|"
									th:text="${num}"></a>

									<a th:if="${vo.endPage ne vo.totalPages}" 
									style="cursor: pointer;"
									th:attr="onclick=|goList('${vo.endPage + 1}')|">다음</a>
		                 </div>
	                 </div>
                    </div>
                </div>
            </div>
        </section>
        </form>

        <div class="clearfix"></div>

        <footer class="footer-wrapper">
            <section class="container">
                <div class="col-xs-4 col-md-2 footer-nav">
                    <ul class="nav-link">
                        <li><a href="#" class="nav-link__item">Cities</a></li>
                        <li><a href="movie-list-left.html" class="nav-link__item">Movies</a></li>
                        <li><a href="trailer.html" class="nav-link__item">Trailers</a></li>
                        <li><a href="rates-left.html" class="nav-link__item">Rates</a></li>
                    </ul>
                </div>
                <div class="col-xs-4 col-md-2 footer-nav">
                    <ul class="nav-link">
                        <li><a href="coming-soon.html" class="nav-link__item">Coming soon</a></li>
                        <li><a href="cinema-list.html" class="nav-link__item">Cinemas</a></li>
                        <li><a href="offers.html" class="nav-link__item">Best offers</a></li>
                        <li><a href="news-left.html" class="nav-link__item">News</a></li>
                    </ul>
                </div>
                <div class="col-xs-4 col-md-2 footer-nav">
                    <ul class="nav-link">
                        <li><a href="#" class="nav-link__item">Terms of use</a></li>
                        <li><a href="gallery-four.html" class="nav-link__item">Gallery</a></li>
                        <li><a href="contact.html" class="nav-link__item">Contacts</a></li>
                        <li><a href="page-elements.html" class="nav-link__item">Shortcodes</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="footer-info">
                        <p class="heading-special--small">A.Movie<br><span class="title-edition">in the social
                                media</span></p>

                        <div class="social">
                            <a href='#' class="social__variant fa fa-facebook"></a>
                            <a href='#' class="social__variant fa fa-twitter"></a>
                            <a href='#' class="social__variant fa fa-vk"></a>
                            <a href='#' class="social__variant fa fa-instagram"></a>
                            <a href='#' class="social__variant fa fa-tumblr"></a>
                            <a href='#' class="social__variant fa fa-pinterest"></a>
                        </div>

                        <div class="clearfix"></div>
                        <p class="copy">&copy; A.Movie, 2013. All rights reserved. Done by Olia Gozha</p>
                    </div>
                </div>
            </section>
        </footer>
    </div>

    <!-- open/close -->


    <!-- JavaScript-->
    <!-- jQuery 3.1.1-->

    <script>window.jQuery || document.write('<script src="js/external/jquery-3.1.1.min.js"><\/script>')</script>
    <!-- Migrate -->
    <script src="usr/js/external/jquery-migrate-1.2.1.min.js"></script>
    <!-- jQuery UI -->
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <!-- Bootstrap 3-->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

    <!-- Mobile menu -->
    <script src="usr/js/jquery.mobile.menu.js"></script>
    <!-- Select -->
    <script src="usr/js/external/jquery.selectbox-0.2.min.js"></script>
    <!-- Swiper slider -->
    <script src="usr/js/external/idangerous.swiper.min.js"></script>

    <!-- Stars rate -->
    <script src="usr/js/external/jquery.raty.js"></script>
    <!-- Form element -->
    <script src="usr/js/external/form-element.js"></script>
    <!-- Form validation -->
    <script src="usr/js/form.js"></script>

    <!-- Custom -->
    <script src="usr/js/custom.js"></script>
    <script src="usr/js/usrmymenu.js"></script>
     <script type="text/javascript">
        let goUrlXdmList = "/useInformation";
        let form = document.querySelector("form[name=formpage]");
        window
		.addEventListener(
				'load',
				function() {

					goList = function(thisPage) {
						document.querySelector("input[name=thisPage]").value = thisPage;
						form.action = goUrlXdmList;
						form.submit();
					}
				});
        
        let goUrlXdmLogin = "/useIndex";
        document.getElementById("Logout").onclick = function() {
			$.ajax({
				async: true 
				,cache: false
				,type: "post"
				,url: "/loginoutXdm" 
				,success: function(response) {
					if(response.rt == "success") {
						valLogin();
					} 
					else {
				 		alert("로그아웃 실패")
					}
				}
				,error : function(jqXHR, textStatus, errorThrown){
					alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
				}
			});
		}
		function valLogin(){
			location.href = goUrlXdmLogin;
		}
    </script>
  <!--  <script src="usr/js/usrCommon.js"></script>  -->
  
</body>

</html>