<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

 <head th:replace="~{usr/block/usehead :: book}">

<body>
    <div class="wrapper">
        <!-- Banner -->
        <div class="banner-top" th:replace="~{usr/block/usebody :: titleimg}">
		</div>

        <!-- Header section -->
        <header class="header-wrapper">
            <div class="container" th:replace="~{usr/block/usenav :: navtop}">

			</div>
        </header>

        <!-- Search bar -->
        <div class="search-wrapper">
            <div class="container container--add">
                <form id='search-form' method='get' class="search">
                    <input type="text" class="search__field" placeholder="Search">
                    <select name="sorting_item" id="search-sort" class="search__sort" tabindex="0">
                        <option value="1" selected='selected'>By title</option>
                        <option value="2">By year</option>
                        <option value="3">By producer</option>
                        <option value="4">By title</option>
                        <option value="5">By year</option>
                    </select>
                    <button type='submit' class="btn btn-md btn--danger search__button">search a movie</button>
                </form>
            </div>
        </div>

        <!-- Main content -->
        <section class="container">
            <div class="order-container">
                <div class="order">
                    <img class="order__images" alt='' src="images/tickets.png">
                    <p class="order__title">티켓 예매<br>
                        <!-- <span class="order__descript">and have fun movieime</span> -->
                    </p>
                    <div class="order__control">
                    </div>
                </div>
            </div>
            <div class="order-step-area">
                <div class="order-step first--step order-step--disable ">1. 날짜 &amp; 시간 선택</div>
                <div class="order-step second--step order-step--disable">2. 좌석 선택</div>
                <div class="order-step third--step">3. 결제</div>
            </div>

            <div class="col-sm-12">
                <div class="checkout-wrapper">
                    <h2 class="page-heading">가격</h2>
                    <ul class="book-result">
                        <li class="book-result__item">매수 : <span class="book-result__count booking-ticket" th:value = "${paycount}" th:text="${paycount}"></span>
                        </li>
                        <li class="book-result__item">선택 좌석 : <span
                                class="book-result__count booking-price"
                                 th:if="${!#lists.isEmpty(list)}"
								 th:each="list : ${list}"
								 th:text = "${list.stSeatCode} + ${list.stSeatNumber}"		>$20</span></li>
                        <li class="book-result__item">총합 : <span class="book-result__count booking-cost" th:value = "${paysum}" th:text = "${paysum}"></span>
                        </li>
                    </ul>
                    <h2 class="page-heading">카드정보</h2>
                    <div class = "row">
                        
                        <div class="col-md-8">
                            <form id='contact-form' class="form row" method='post' novalidate="" >
                                <div class="col-sm-6">
                                    <select  class="form__name" aria-label="Default select example"  >
                                        <option selected>카드사</option>
                                        <option >02</option>
                                        <option >03</option>
                                        <option >04</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <select  class="form__name" aria-label="Default select example" >
                                        <option selected >카드종류</option>
                                        <option >마스터</option>
                                        <option >03</option>
                                        <option >04</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <input type='text' placeholder='카드번호' name='user-name' class="form__name">
                                </div>
                                <div class="col-sm-2">
                                    <input type='text' placeholder='카드번호' name='user-name' class="form__name">
                                </div>
                                <div class="col-sm-2">
                                    <input type='text' placeholder='카드번호' name='user-name' class="form__name">
                                </div>
                                <div class="col-sm-2">
                                    <input type='text' placeholder='카드번호' name='user-name' class="form__name">
                                </div>
                                <div class="col-sm-4">
                                    <input type='text' placeholder='소유주 이름' name='user-email' class="form__name">
                                </div>
                                <div class="col-sm-4">
                                    <input type='text' placeholder='유효기간 mm' name='user-name' class="form__name">
                                </div>
                                <div class="col-sm-4">
                                    <input type='text' placeholder='유효기간 yy' name='user-name' class="form__name">
                                </div>
                                <div class="col-sm-4">
                                    <input type='text' placeholder='cvc번호' name='user-email' class="form__name">
                                </div>
                            </form>
                        </div>
                    </div>
                    <h2 class="page-heading">다른 결제 수단</h2>
                    <div class="payment">
                        <a href="#" class="payment__item">
                            <img alt='' src="images/payment/pay1.png">
                        </a>
                        <a href="#" class="payment__item">
                            <img alt='' src="images/payment/pay2.png">
                        </a>
                        <a href="#" class="payment__item">
                            <img alt='' src="images/payment/pay3.png">
                        </a>
                        <a href="#" class="payment__item">
                            <img alt='' src="images/payment/pay4.png">
                        </a>
                        <a href="#" class="payment__item">
                            <img alt='' src="images/payment/pay5.png">
                        </a>
                        <a href="#" class="payment__item">
                            <img alt='' src="images/payment/pay6.png">
                        </a>
                        <a href="#" class="payment__item">
                            <img alt='' src="images/payment/pay7.png">
                        </a>
                    </div>

                    <h2 class="page-heading">연락처 정보</h2>

                    <form id='contact-info' method='post' novalidate="" class="form contact-info">
                        <div class="contact-info__field contact-info__field-mail">
                            <input type='email' name='user-mail' placeholder='Your email' class="form__mail">
                        </div>
                        <div class="contact-info__field contact-info__field-tel">
                            <input type='tel' name='user-tel' placeholder='Phone number' class="form__mail">
                        </div>
                    </form>


                </div>

                <div class="order">
                    <a th:href = "@{/useBookfinal}" class="btn btn-md btn--warning btn--wide">구매</a>
                </div>

            </div>

        </section>


        <div class="clearfix"></div>

        <div class="booking-pagination">
            <a href="book2.html" class="booking-pagination__prev">
                <p class="arrow__text arrow--prev">prev step</p>
                <span class="arrow__info">choose a sit</span>
            </a>
            <a href="#" class="booking-pagination__next hide--arrow">
                <p class="arrow__text arrow--next">next step</p>
                <span class="arrow__info"></span>
            </a>
        </div>

        <div class="clearfix"></div>

        <footer class="footer-wrapper">
            <section class="container">
                <div class="col-xs-4 col-md-2 footer-nav">
                    <ul class="nav-link">
                        <li><a href="#" class="nav-link__item">Cities</a></li>
                        <li><a href="movie-list-left.html" class="nav-link__item">Movies</a></li>
                        <li><a href="trailer.html" class="nav-link__item">Trailers</a></li>
                        <li><a href="rates-left.html" class="nav-link__item">Rates</a></li>
                    </ul>
                </div>
                <div class="col-xs-4 col-md-2 footer-nav">
                    <ul class="nav-link">
                        <li><a href="coming-soon.html" class="nav-link__item">Coming soon</a></li>
                        <li><a href="cinema-list.html" class="nav-link__item">Cinemas</a></li>
                        <li><a href="offers.html" class="nav-link__item">Best offers</a></li>
                        <li><a href="news-left.html" class="nav-link__item">News</a></li>
                    </ul>
                </div>
                <div class="col-xs-4 col-md-2 footer-nav">
                    <ul class="nav-link">
                        <li><a href="#" class="nav-link__item">Terms of use</a></li>
                        <li><a href="gallery-four.html" class="nav-link__item">Gallery</a></li>
                        <li><a href="contact.html" class="nav-link__item">Contacts</a></li>
                        <li><a href="page-elements.html" class="nav-link__item">Shortcodes</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="footer-info">
                        <p class="heading-special--small">A.Movie<br><span class="title-edition">in the social
                                media</span></p>

                        <div class="social">
                            <a href='#' class="social__variant fa fa-facebook"></a>
                            <a href='#' class="social__variant fa fa-twitter"></a>
                            <a href='#' class="social__variant fa fa-vk"></a>
                            <a href='#' class="social__variant fa fa-instagram"></a>
                            <a href='#' class="social__variant fa fa-tumblr"></a>
                            <a href='#' class="social__variant fa fa-pinterest"></a>
                        </div>

                        <div class="clearfix"></div>
                        <p class="copy">&copy; A.Movie, 2013. All rights reserved. Done by Olia Gozha</p>
                    </div>
                </div>
            </section>
        </footer>
    </div>

    <!-- open/close -->
    <div class="overlay overlay-hugeinc">

        <section class="container">

            <div class="col-sm-4 col-sm-offset-4">
                <button type="button" class="overlay-close">Close</button>
                <form id="login-form" class="login" method='get' novalidate=''>
                    <p class="login__title">sign in <br><span class="login-edition">welcome to A.Movie</span></p>

                    <div class="social social--colored">
                        <a href='#' class="social__variant fa fa-facebook"></a>
                        <a href='#' class="social__variant fa fa-twitter"></a>
                        <a href='#' class="social__variant fa fa-tumblr"></a>
                    </div>

                    <p class="login__tracker">or</p>

                    <div class="field-wrap">
                        <input type='email' placeholder='Email' name='user-email' class="login__input">
                        <input type='password' placeholder='Password' name='user-password' class="login__input">

                        <input type='checkbox' id='#informed' class='login__check styled'>
                        <label for='#informed' class='login__check-info'>remember me</label>
                    </div>

                    <div class="login__control">
                        <button type='submit' class="btn btn-md btn--warning btn--wider">sign in</button>
                        <a href="#" class="login__tracker form__tracker">Forgot password?</a>
                    </div>
                </form>
            </div>

        </section>
    </div>

    <!-- JavaScript-->
    <!-- jQuery 3.1.1-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/external/jquery-3.1.1.min.js"><\/script>')</script>
    <!-- Migrate -->
    <script src="js/external/jquery-migrate-1.2.1.min.js"></script>
    <!-- Bootstrap 3-->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

    <!-- Mobile menu -->
    <script src="js/jquery.mobile.menu.js"></script>
    <!-- Select -->
    <script src="js/external/jquery.selectbox-0.2.min.js"></script>

    <!-- Form element -->
    <script src="js/external/form-element.js"></script>
    <!-- Form validation -->
    <script src="js/form.js"></script>

    <!-- Custom -->
    <script src="js/custom.js"></script>

</body>

</html>