<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
 <head th:replace="~{usr/block/usehead :: book}">


<body>
    <div class="wrapper">
        <!-- Banner -->
       <div class="banner-top" th:replace="~{usr/block/usebody :: titleimg}">
		</div>

        <!-- Header section -->
        <header class="header-wrapper">
            <div class="container" th:replace="~{usr/block/usenav :: navtop}">

			</div>
        </header>

        <!-- Search bar -->
        <div class="search-wrapper">
            <div class="container container--add">
                <form id='search-form' method='get' class="search">
                    <input type="text" class="search__field" placeholder="Search">
                    <select name="sorting_item" id="search-sort" class="search__sort" tabindex="0">
                        <option value="1" selected='selected'>By title</option>
                        <option value="2">By year</option>
                        <option value="3">By producer</option>
                        <option value="4">By title</option>
                        <option value="5">By year</option>
                    </select>
                    <button type='button' id="btnSearch" class="btn btn-md btn--danger search__button">search a movie</button>
                </form>
            </div>
        </div>

        <!-- Main content -->
       <!--  onclick="myFunction()"   -->
		<!-- <button id='btn'>Click me</button> -->
        <section class="container">
            <div class="order-container">
                <div class="order">
                    <img class="order__images" alt='' src="images/tickets.png">
                    <p class="order__title">티켓 예매<br>
                    
                    
                    
                        <!-- <span class="order__descript">and have fun movieime</span> -->
                    </p>
                    <div class="order__control">
                    </div>
                </div>
            </div>
            <div class="order-step-area">
                <div class="order-step first--step">1. 날짜 &amp; 시간 선택</div>
            </div>

            <!-- <h2 class="page-heading heading--outcontainer">Choose a movie</h2> -->
        </section>



        <section class="container">
            <div class="col-sm-12">
                <!-- <div class="choose-indector choose-indector--film">
                    <strong>Choosen: </strong><span class="choosen-area"></span>
                </div> -->

                <h2 class="page-heading">날짜 &amp; 시간</h2>

                <div class="choose-container choose-container--short">

                    <div class="datepicker">
                        <span class="datepicker__marker"><i class="fa fa-calendar"></i>Date</span>
                        <input type="text" id="shprDate" name="shprDate" th:value = "${item.prStartDate}"
                        
                        class="datepicker__input" autocomplete="off" placeholder="날짜 선택">
                    </div>
                </div>

                <h2 class="page-heading">Pick time</h2>
                <input type="hidden" id = "stDate" name = "stDate"  th:value = "${item.prStartDate}">
				<input type="hidden" id = "endDate" name= "endDate" th:value = "${item.prEndDate}">
					
				<input type="hidden" id = "prSeq" name= "prSeq" th:value = "${item.prSeq}">
				<input type="hidden" id = "plSeq" name= "plSeq" th:value = "${item.plSeq}">
				
				<div class="time-select time-select--wide" id = "list">
					<div class="time-select__group group--first"
                    >

					
                        <div class="col-sm-3"
                        >
                            <p id="tanumber" name="tanumber"
                            th:if="${!#lists.isEmpty(talist)}"
					th:each="talist : ${talist}"
                             th:value="${talist.taSeq}"  class="time-select__place" 
                            th:text = "${talist.tatheaterNumber}"></p>
                        </div>
                        
                        
                        <ul class="col-sm-6 items-wrap">
                            <li class="time-select__item" 
                            th:if="${!#lists.isEmpty(list)}"
							th:each="list : ${list}"
                            th:value = "${list.pdSeq}"
                             th:text = "${list.pdselectionTime}" ></li>
 
                        </ul>
                    </div>
				</div>
                <!-- <div class="time-select time-select--wide" id = "list">
                    <div class="time-select__group group--first"
                    th:if="${!#lists.isEmpty(talist)}"
					th:each="talist : ${talist}">

					
                        <div class="col-sm-3">
                            <p class="time-select__place" th:value = "${talist.taSeq}" th:text = "${talist.tatheaterNumber}"
                            id= "tanumber" name = "tanumber"></p>
                        </div>
                        
                        
                        <ul class="col-sm-6 items-wrap">
                            <li class="time-select__item" 
                            th:if="${!#lists.isEmpty(list)}"
							th:each="list : ${list}"
                            th:value = "${list.pdSeq}"
                             th:text = "${list.pdselectionTime}" ></li>
 
                        </ul>
                    </div>

                </div>  -->

                <div class="choose-indector choose-indector--time">
                    <strong>Choosen: </strong><span class="choosen-area"></span>
                </div>
            </div>

        </section>

        <div class="clearfix"></div>

        <form id='film-and-time' class="booking-form" method='get'>
            <input type='text' name='choosen-movie' class="choosen-movie">

            <input type='text' name='choosen-city' class="choosen-city">
            <input type='text' name='choosen-date' class="choosen-date">

            <input type='text' name='choosen-cinema' class="choosen-cinema">
            <input type='text' name='choosen-time' class="choosen-time">


            <div class="booking-pagination">
                <a href="#" class="booking-pagination__prev hide--arrow">
                    <span class="arrow__text arrow--prev"></span>
                    <span class="arrow__info"></span>
                </a>
                <a class="booking-pagination__next" id="next" >
                    <span class="arrow__text arrow--next">다음 단계</span>
                    <!-- <span class="arrow__info">choose a sit</span> -->
                </a>
               <!--  th:href = "@{/useBookTow}" -->
            </div>

        </form>

        <div class="clearfix"></div>

        <footer class="footer-wrapper">
            <section class="container">
                <div class="col-xs-4 col-md-2 footer-nav">
                    <ul class="nav-link">
                        <li><a href="#" class="nav-link__item">Cities</a></li>
                        <li><a href="movie-list-left.html" class="nav-link__item">Movies</a></li>
                        <li><a href="trailer.html" class="nav-link__item">Trailers</a></li>
                        <li><a href="rates-left.html" class="nav-link__item">Rates</a></li>
                    </ul>
                </div>
                <div class="col-xs-4 col-md-2 footer-nav">
                    <ul class="nav-link">
                        <li><a href="coming-soon.html" class="nav-link__item">Coming soon</a></li>
                        <li><a href="cinema-list.html" class="nav-link__item">Cinemas</a></li>
                        <li><a href="offers.html" class="nav-link__item">Best offers</a></li>
                        <li><a href="news-left.html" class="nav-link__item">News</a></li>
                    </ul>
                </div>
                <div class="col-xs-4 col-md-2 footer-nav">
                    <ul class="nav-link">
                        <li><a href="#" class="nav-link__item">Terms of use</a></li>
                        <li><a href="gallery-four.html" class="nav-link__item">Gallery</a></li>
                        <li><a href="contact.html" class="nav-link__item">Contacts</a></li>
                        <li><a href="page-elements.html" class="nav-link__item">Shortcodes</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="footer-info">
                        <p class="heading-special--small">A.Movie<br><span class="title-edition">in the social
                                media</span></p>

                        <div class="social">
                            <a href='#' class="social__variant fa fa-facebook"></a>
                            <a href='#' class="social__variant fa fa-twitter"></a>
                            <a href='#' class="social__variant fa fa-vk"></a>
                            <a href='#' class="social__variant fa fa-instagram"></a>
                            <a href='#' class="social__variant fa fa-tumblr"></a>
                            <a href='#' class="social__variant fa fa-pinterest"></a>
                        </div>

                        <div class="clearfix"></div>
                        <p class="copy">&copy; A.Movie, 2013. All rights reserved. Done by Olia Gozha</p>
                    </div>
                </div>
            </section>
        </footer>
    </div>

    <!-- open/close -->
    <div class="overlay overlay-hugeinc">

        <section class="container">

            <div class="col-sm-4 col-sm-offset-4">
                <button type="button" class="overlay-close">Close</button>
                <form id="login-form" class="login" method='get' novalidate=''>
                    <p class="login__title">sign in <br><span class="login-edition">welcome to A.Movie</span></p>

                    <div class="social social--colored">
                        <a href='#' class="social__variant fa fa-facebook"></a>
                        <a href='#' class="social__variant fa fa-twitter"></a>
                        <a href='#' class="social__variant fa fa-tumblr"></a>
                    </div>

                    <p class="login__tracker">or</p>

                    <div class="field-wrap">
                        <input type='email' placeholder='Email' name='user-email' class="login__input">
                        <input type='password' placeholder='Password' name='user-password' class="login__input">

                        <input type='checkbox' id='#informed' class='login__check styled'>
                        <label for='#informed' class='login__check-info'>remember me</label>
                    </div>

                    <div class="login__control">
                        <button type='submit' class="btn btn-md btn--warning btn--wider">sign in</button>
                        <a href="#" class="login__tracker form__tracker">Forgot password?</a>
                    </div>
                </form>
            </div>

        </section>
    </div>

    <!-- JavaScript-->
    <!-- jQuery 3.1.1-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/external/jquery-3.1.1.min.js"><\/script>')</script>
    <!-- Migrate -->
    <script src="usr/js/external/jquery-migrate-1.2.1.min.js"></script>
    <!-- jQuery UI -->
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <!-- Bootstrap 3-->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

    <!-- Mobile menu -->
    <script src="usr/js/jquery.mobile.menu.js"></script>
    <!-- Select -->
    <script src="usr/js/external/jquery.selectbox-0.2.min.js"></script>
    <!-- Swiper slider -->
    <script src="usr/js/external/idangerous.swiper.min.js"></script>

    <!-- Form element -->
    <script src="usr/js/external/form-element.js"></script>
    <!-- Form validation -->
    <script src="usr/js/form.js"></script>

    <!-- Custom -->
    <script src="usr/js/custom.js"></script>
    <script src="usr/js/usrCommon.js"></script> 
	<script src="usr/js/usrmymenu.js"></script>
    
	 <script type="text/javascript">	    
        $(document).ready(function () {
            init_BookingOne();
        });     
    </script> 
	
	<script th:inline="javascript">
	 let std = $('input[name=stDate]').val(); 
	 let end = $('input[name=endDate]').val(); 
	 
	 let prSeq = $('input[name=prSeq]').val(); 
	 let plSeq = $('input[name=plSeq]').val(); 
	 
	 
	 $( ".datepicker__input" ).datepicker({
         dateFormat: 'yy-mm-dd',
         minDate: new Date(std),
		 maxDate: new Date(end),
         showOtherMonths: true,
         selectOtherMonths: true,
         showAnim:"fade",
         onSelect: function(dateString) {
			        $.ajax({
						async: true 
						,cache: false
						,type: "POST"
						,url: "/bookDate"
						,data : { "shprDate" : $("#shprDate").val(),"prSeq" : $("#prSeq").val(), "plSeq": $("#plSeq").val()}
						,success: function(response) {
							
							//console.log(response);
							if(response.rt == "success") {	
										 $(document).ready(function () {
									            init_BookingOne();
									       });
								 		// $('#list').empty();
								 		for(let i = 0 ; i < response.talist.length ; i ++)
								 			{
								 			let parent = $('#list');
								 			//
									 		let tatime = $('<div>',{
									 			class :'time-select__group group--first'
									 		});
									 		
									 		let col =$('<div>',{
									 			class : 'col-sm-3'
									 		});
									 		
									        let child = $('<p>', {
									            id: 'tanumber',
									            name : 'tanumber',
									            value : response.talist[i].taSeq,
									            text : response.talist[i].tatheaterNumber,
									            class : 'time-select__place'
									        });
									        
									 		let ulupdate = $('<ul>',{
							        			class : 'col-sm-6 items-wrap',
							        			id : 'timelist'
							        		});
									 		
									        	 for(let j = 0 ; j < response.list.length; j++)
									        		 {
									        		 	let li = $('<li>',{
										        			class : 'time-select__item',
										        			id : 'pdTime' + response.list[j].pdSeq,
										        			name : 'pdTime'+ response.list[j].pdSeq,
										        			value : response.list[j].pdSeq,
										        			text : response.list[j].pdselectionTime
									       				 });
										        		ulupdate.append(li);
									        		 }
									        
									        tatime.append(col);
									 		
									 		tatime.append(ulupdate);
									 		
									 		
									        col.append(child);
									        
									        parent.append(tatime);      
								 			}
							}
							else{
								alert("이날은 공연이 없습니다.");
								$('#list').empty();
							}
							
						}
					});
			    }

       });

	</script>
	
	<script type="text/javascript">
	 
		document.getElementById("next").onclick =  function()
		{
			let taSeq =$('#tanumber').attr('value');
		    let pdSeq =$('.active').val();
			//alert(taSeq);
			//alert(pdSeq);
			if(!pdSeq)
				{
					alert('시간 선택하세요')
				}
			else
				{
					location.href = "/useBookTow"+"?prSeq=" + prSeq + "&plSeq=" + plSeq + "&taSeq=" + taSeq + "&pdSeq=" + pdSeq;
				}
			/* $.ajax({
				 async: true 
					,cache: false
					,type: "GET"
					,url : ""
					,data :{"prSeq" : $("#prSeq").val(), "plSeq": $("#plSeq").val(),"pdSeq" : $(".active").val()}
			 		,succes : function(respone){
			 			
			 		}
			 }) */
		}
	

	</script>
	
	
	
	
   

</body>

</html>