<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<style>
.is-invalid
{
margin-bottom: 10px;
  width: 100%;
  border: none;
  box-shadow: none;
  border: 1px solid red;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 13px;
  color: #b4b1b2;
  padding: 9px 18px 10px;
}
</style>

 <head th:replace="~{usr/block/usehead :: book}">

<body>
    <div class="wrapper">
        <!-- Banner -->
        <div class="banner-top" th:replace="~{usr/block/usebody :: titleimg}">
		</div>

        <!-- Header section -->
        <header class="header-wrapper">
            <div class="container" th:replace="~{usr/block/usenav :: navtop}">

			</div>
        </header>

        <!-- Search bar -->
        <div class="search-wrapper">
            <div class="container container--add">
            
            
	                <div class="search" th:replace="~{usr/block/usebody :: search}">
	                </div>

            </div>
        </div>

        <!-- Main content -->
        <form id='formnext' name ='formnext' method='get' class="search">
	        <section class="container">
	            <div class="order-container">
	                <div class="order">
	                    <img class="order__images" alt='' src="images/tickets.png">
	                    <p class="order__title">티켓 예매<br>
	                        <!-- <span class="order__descript">and have fun movieime</span> -->
	                    </p>
	                    <div class="order__control">
	                    </div>
	                </div>
	            </div>
	            <div class="order-step-area">
	                <div class="order-step first--step order-step--disable ">1. 날짜 &amp; 시간 선택</div>
	                <div class="order-step second--step order-step--disable">2. 좌석 선택</div>
	                <div class="order-step third--step">3. 결제</div>
	            </div>
				
	            <div class="col-sm-12">
	                <div class="checkout-wrapper">
	                    <h2 class="page-heading">가격</h2>
	                    <ul class="book-result">
	                       <!--  <li class="book-result__item">매수 : 
		                        <span class="book-result__count booking-ticket" 
		                        id="ticketcount" name ="ticketcount"th:value = "${paycount}" th:text="${paycount}"></span>
	                        </li> -->
	                        <li class="book-result__item">선택 좌석 : <span
	                                class="book-result__count booking-price"
	                                 th:if="${!#lists.isEmpty(list)}"
									 th:each="list : ${list}"
									 th:text = "${list.stSeatCode} + ${list.stSeatNumber}"		></span></li>
	                        <li class="book-result__item">총합 : 
		                        <span class="book-result__count booking-cost" 
		                        id="totalprice2" name="totalprice2" th:value = "${paysum.totalprice}" th:text ="${#numbers.formatInteger(paysum.totalprice, 3, 'COMMA') + '원'}" ></span>
	                        </li>
	                       <input type="hidden" id="totalprice" name="totalprice" th:value = "${paysum.totalprice}"> 
	                       <input type="hidden" id="prTitle" name= "prTitle" th:value="${paysum.prTitle}"> 
	                    </ul>
	                    <h2 class="page-heading">카드정보</h2>
	                    <div class = "row">
	                        
	                        <div class="col-md-8">
	                            <div  class="form row" >
	                                <div class="col-sm-6">
	                                    <select  class="form__name" aria-label="Default select example" id="pmcardCompany" name="pmcardCompany">
	                                        <option selected>카드사</option>
	                                        <option th:each="list : ${@codeService.selectListCachedCode(8)}" th:value="${list.ifcdSeq}" th:text="${list.ifcdName}"></option>
	                                    </select>
	                                </div>
	                                
	                                <div class="col-sm-6">
	                                    <select  class="form__name" aria-label="Default select example" id="pmcardType" name="pmcardType">
	                                        <option selected >카드종류</option>
	                                        <option th:each="list : ${@codeService.selectListCachedCode(2)}" th:value="${list.ifcdSeq}" th:text="${list.ifcdName}"></option>
	
	                                    </select>
	                                </div>
	                                
	                                <div class="col-sm-2">
	                                    <input type='text' id ="pmcardNumberONe" name="pmcardNumberONe" placeholder='카드번호'  class="form__name">
	                                    <div class="invalid-feedback" id="pmcardNumberONeFeedback" name="pmcardNumberONeFeedback"></div>
	                                </div>
	                                <div class="col-sm-2">
	                                    <input type='text' id="pmcardNumberTow" name="pmcardNumberTow" placeholder='카드번호'class="form__name">
	                                </div>
	                                <div class="col-sm-2">
	                                    <input type='text' id="pmcardNumberThree" name="pmcardNumberThree" placeholder='카드번호'class="form__name">
	                                </div>
	                                <div class="col-sm-2">
	                                    <input type='text' id="pmcardNumberfour" name="pmcardNumberfour" placeholder='카드번호' class="form__name">
	                                </div>
	                                <div class="col-sm-4">
	                                    <input type='text' id="pmcardholder" name="pmcardholder" placeholder='소유주 이름'  class="form__name">
	                                </div>
	                                <div class="col-sm-4">
	                                    <input type='text' id="pmvalidityMonth" name="pmvalidityMonth" placeholder='유효기간 mm'  class="form__name">
	                                </div>
	                                <div class="col-sm-4">
	                                    <input type='text' id="pmmonthYear" name="pmmonthYear" placeholder='유효기간 yy' class="form__name">
	                                </div>
	                                <div class="col-sm-4">
	                                    <input type='text' id="pmcardCvc" name="pmcardCvc" placeholder='cvc번호'  class="form__name">
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    <h2 class="page-heading">다른 결제 수단</h2>
	                    <div class="payment">
	                    <button type="button" id="kakaopay" name= "kakaopay" style="border: none; background-color: white;" >
	                    	<img alt='' src="usr/images/payment/kakao.png"> 
	                    	<!-- <a th:href="@{/kakaopay}"><img alt='' src="usr/images/payment/kakao.png"></a>  -->
	                    </button>
	                    </div>
	
	                   <!--  <h2 class="page-heading">연락처 정보</h2>
	
	                    <div  class="form contact-info">
	                        <div class="contact-info__field contact-info__field-mail">
	                            <input type='email' name='user-mail' placeholder='Your email' class="form__mail">
	                        </div>
	                        <div class="contact-info__field contact-info__field-tel">
	                            <input type='tel' name='user-tel' placeholder='Phone number' class="form__mail">
	                        </div>
	                    </div> -->
	
	
	                </div>
	
	                <div class="order">
	                    <a id="final" class="btn btn-md btn--warning btn--wide">구매</a>
	                </div>
	
	            </div>
	
	        </section>
        </form>


        <div class="clearfix"></div>

        <div class="booking-pagination">
            <a id="back" class="booking-pagination__prev">
                <p class="arrow__text arrow--prev">이전단계</p>
            </a>
        </div>

        <div class="clearfix"></div>

        <footer class="footer-wrapper">
            <section class="container">
                <div class="col-xs-4 col-md-2 footer-nav">
                    <ul class="nav-link">
                        <li><a href="#" class="nav-link__item">Cities</a></li>
                        <li><a href="movie-list-left.html" class="nav-link__item">Movies</a></li>
                        <li><a href="trailer.html" class="nav-link__item">Trailers</a></li>
                        <li><a href="rates-left.html" class="nav-link__item">Rates</a></li>
                    </ul>
                </div>
                <div class="col-xs-4 col-md-2 footer-nav">
                    <ul class="nav-link">
                        <li><a href="coming-soon.html" class="nav-link__item">Coming soon</a></li>
                        <li><a href="cinema-list.html" class="nav-link__item">Cinemas</a></li>
                        <li><a href="offers.html" class="nav-link__item">Best offers</a></li>
                        <li><a href="news-left.html" class="nav-link__item">News</a></li>
                    </ul>
                </div>
                <div class="col-xs-4 col-md-2 footer-nav">
                    <ul class="nav-link">
                        <li><a href="#" class="nav-link__item">Terms of use</a></li>
                        <li><a href="gallery-four.html" class="nav-link__item">Gallery</a></li>
                        <li><a href="contact.html" class="nav-link__item">Contacts</a></li>
                        <li><a href="page-elements.html" class="nav-link__item">Shortcodes</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="footer-info">
                        <p class="heading-special--small">A.Movie<br><span class="title-edition">in the social
                                media</span></p>

                        <div class="social">
                            <a href='#' class="social__variant fa fa-facebook"></a>
                            <a href='#' class="social__variant fa fa-twitter"></a>
                            <a href='#' class="social__variant fa fa-vk"></a>
                            <a href='#' class="social__variant fa fa-instagram"></a>
                            <a href='#' class="social__variant fa fa-tumblr"></a>
                            <a href='#' class="social__variant fa fa-pinterest"></a>
                        </div>

                        <div class="clearfix"></div>
                        <p class="copy">&copy; A.Movie, 2013. All rights reserved. Done by Olia Gozha</p>
                    </div>
                </div>
            </section>
        </footer>
    </div>



    <!-- JavaScript-->
    <!-- jQuery 3.1.1-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/external/jquery-3.1.1.min.js"><\/script>')</script>
    <!-- Migrate -->
    <script src="usr/js/external/jquery-migrate-1.2.1.min.js"></script>
    <!-- Bootstrap 3-->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

    <!-- Mobile menu -->
    <script src="usr/js/jquery.mobile.menu.js"></script>
    <!-- Select -->
    <script src="usr/js/external/jquery.selectbox-0.2.min.js"></script>

    <!-- Form element -->
    <script src="usr/js/external/form-element.js"></script>
    <!-- Form validation -->
    <script src="usr/js/form.js"></script>
	
	
	
	<script type="text/javascript">
        let goUrlXdmList = "/usePerformanceList";
    </script>
    <!-- Custom -->
    <script src="usr/js/custom.js"></script>
    <script src="xdm/js/usrvalidations.js" ></script>
    <script src="usr/js/usrCommon.js"></script>
	<script src="usr/js/usrmymenu.js"></script>
	
	
	
    <script type="text/javascript"> 
    
    
    function vallupdt()
	{
    	if(!checkSelectNull('pmcardCompany',2,"")){return false}
    	if(!checkSelectNull('pmcardType',2,"")){return false}
    	if(!cardnumber('pmcardNumberONe',2,0,"")){return false}
    	if(!cardnumber('pmcardNumberTow',2,0,"")){return false}
    	if(!cardnumber('pmcardNumberThree',2,0,"")){return false}
    	if(!cardnumber('pmcardNumberfour',2,0,"")){return false}
    	if(!checkOnlyEnglish('pmcardholder',2,0,"")){return false}
	}
    
    document.getElementById("back").onclick = function(){
    	window.history.back();
    }
    document.getElementById("final").onclick =  function()
    {
    	if(vallupdt() == false) return false;
    	let form = document.getElementById('formnext')
    	let pmcardCompany = document.getElementById("pmcardCompany").value
    	let pmcardType = document.getElementById("pmcardType").value
    	let pmcardNumberONe = document.getElementById("pmcardNumberONe").value
    	let pmcardNumberTow = document.getElementById("pmcardNumberTow").value
    	let pmcardNumberThree = document.getElementById("pmcardNumberThree").value
    	let pmcardNumberfour = document.getElementById("pmcardNumberfour").value
    	let pmcardholder = document.getElementById("pmcardholder").value
    	let pmvalidityMonth = document.getElementById("pmvalidityMonth").value
    	let pmmonthYear = document.getElementById("pmmonthYear").value
    	let pmcardCvc = document.getElementById("pmcardCvc").value
    	
		let currentURL = window.location.href;
        let path = currentURL.split('?').pop();
        
        
        
        path += "&pmcardCompany=" + pmcardCompany;
        path += "&pmcardType=" + pmcardType;
        path += "&pmcardNumberONe=" + pmcardNumberONe;
        path += "&pmcardNumberTow=" + pmcardNumberTow;
        path += "&pmcardNumberThree=" + pmcardNumberThree;
        path += "&pmcardNumberfour=" + pmcardNumberfour;
        path += "&pmcardholder=" + pmcardholder;
        path += "&pmvalidityMonth=" + pmvalidityMonth;
        path += "&pmmonthYear=" + pmmonthYear;
        path += "&pmcardCvc=" + pmcardCvc;
        
        		//location.href = "/payseatupdate" + "?" + path
        //window.location.href = "/payseatupdate" + "?" + path
    	//form.submit();
    			
    			
    	//console.log(seat2);
    }
    

    </script>
    
    
    <script type="text/javascript">
	//  let from = document.querySelector("form[name=formnext]");
	//  let kakaopayurl = "/kakaopay" 
	 
	//  document.getElementById("kakaopay").onclick = function(){
	//  	from.action = kakaopayurl
	//  	from.submit();
	//  }
	 document.getElementById("kakaopay").onclick = function(){
		 let currentURL = window.location.href;
		 let url = new URL(currentURL);
		 let kakaoParm = url.searchParams;
		 
		 let prSeq = kakaoParm.get("prSeq");
		 let plSeq = kakaoParm.get("plSeq");
		 let taSeq = kakaoParm.get("taSeq");
		 let pdSeq = kakaoParm.get("pdSeq");
		 let seat = kakaoParm.getAll("seat");
		 let pricenum = document.getElementById("totalprice").value;
		 let price  = Math.floor(pricenum);
		 alert(price);
		/*  data : {"prTitle" : $("#prTitle").val(),"totalprice" : price, "prSeq" : prSeq, "plSeq" : plSeq, "taSeq" : taSeq,"pdSeq" : pdSeq,"seat" : seat } */
		
		let ticketurl = currentURL.split('?').pop();
		 $.ajax({
				async: true 
				,cache: false
				,type: "get"
				,url: "/kakaopay"
				,data : {"prTitle" : $("#prTitle").val(),"totalprice" : price,"ticketurl" : ticketurl}
				,success: function(response) {
					/* alert(response.rt);
					console.log(response.rt); */
					location.href = response.rt
	
	
				}
				,error : function(jqXHR, textStatus, errorThrown){
					alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
				}
			});
	 }
		 
	 
	/* document.getElementById("kakaopay").onclick = function(){
	 	let totalprice = $("#totalprice").attr('value');
	 	alert(totalprice);
	 	$.ajax({
				async: true 
				,cache: false
				,type: "get"
				,url: "/kakaopay"
				,data : {"total_amount" : "40000"}
				,success: function(response) {
					alert(response.next_redirect_pc_url);
					location.href = response.next_redirect_pc_url	
	
	
				}
				,error : function(jqXHR, textStatus, errorThrown){
					alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
				}
			});
	 }   */
    </script>

</body>

</html>