<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
table {
	width: 100%;
	border-top: 1px solid #444444;
	border-collapse: collapse;
}

th, td {
	border-bottom: 1px dashed #444444;
	padding: 35px;
	text-align: left;
}
</style>

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>AMovie - Gallery</title>
    <meta name="description" content="A Template by Gozha.net">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Gozha.net">

    <!-- Mobile Specific Metas-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="telephone=no" name="format-detection">


    <!-- 데이트 타입 픽커 -->
    <!-- <script src="/HTML/js/jquery.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen"
        href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
    <script>
        window.addEventListener('load', function () {
            $("#mbDateBirth").datetimepicker({
                timepicker: false,
                format: 'Y-m-d'
            });
        });
    </script>
    <script></script>


   


    
    <!-- Fonts -->
    <!-- Font awesome - icon font -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Roboto -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>

    <!-- Stylesheets -->
    <!-- jQuery UI -->
    <link href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="stylesheet">

    <!-- Mobile menu -->
    <link href="usr/css/gozha-nav.css" rel="stylesheet" />

    <!-- Select -->
    <link href="usr/css/external/jquery.selectbox.css" rel="stylesheet" />

    <!-- Swiper slider -->
    <link href="usr/css/external/idangerous.swiper.css" rel="stylesheet" />

    <!-- Custom -->
    <link href="usr/css/style.css?v=1" rel="stylesheet" />

    <!-- Modernizr -->
    <script src="usr/js/external/modernizr.custom.js"></script>





</head>

<body>
<form id='formList' name ='formList' method='get' class="search">
	<div class="wrapper">
		<!-- Banner -->
		<div class="banner-top" th:replace="~{usr/block/usebody :: titleimg}">
		</div>

		<!-- Header section -->
		<header class="header-wrapper">
			<div class="container" th:replace="~{usr/block/usenav :: navtop}">

			</div>
		</header>

		 <div class="search-wrapper">
				<div class="container container--add">
					<div class="search" th:replace="~{usr/block/usebody :: search}">
					</div> 
				</div>
			</div>

		<!-- Main content -->
		<section class="container">
			<div class="col-sm-12">
				<h2 class="page-heading">회원정보 수정</h2>

				<div class="row">
				
					<div class="container"
						th:replace="~{usr/block/usenav :: modifynav}"></div>
						
						
					<div class="col-md-9"
						style="padding-left: 70px; padding-right: 90px;">
						<div class="row">
							<div class="col-sm-12">
								<div class="promo promo--short">
									<!-- <img class="promo__images" alt='' src="images/tickets.png"> -->
									<div class="promo__head">
										<p>
											<strong> 회원님은 <span>"일반회원"</span> 입니다.
											</strong>
										</p>
									</div>
									<div class="promo__content"></div>
								</div>
							</div>
						</div>
						<br>
						<br>
							<div class="form row">
								<div class="col-md-12">
									<table class="table">
										<tr>
										
											<th>이메일</th>
											<td><input type='text' placeholder='이메일'
												id ="mbEmail"  name ="mbEmail" th:value = "${item.mbEmail}" 
												 class="form__name"></td>
										</tr>
										<tr>
											<th>이름</th>
											<td><input type='text' 
												 id ="mbName"  name ="mbName" th:value = "${item.mbName}" 
												 class="form__name"></td>
										</tr>
										
										<tr>
											<th>성별</th>
											<td><select class="form__name"
												aria-label="Default select example"
												id = "mbgender" name = "mbgender"
												th:value = "${item.mbPhone}">
													<option>선택하세요</option>
													<option th:each="list : ${@codeService.selectListCachedCode(3)}" th:value="${list.ifcdSeq}" th:text="${list.ifcdName}" th:selected="${list.ifcdSeq} == ${item?.mbgender}"></option>
											</select></td>
										</tr>
										<tr>
											<th>전화번호</th>
											<td><input type='text' placeholder='전화번호'
												id="mbPhone"  name ="mbPhone"  th:value = "${item.mbPhone}" 
												class="form__name"></td>
										</tr>
										<tr>
										<!-- h:value = "${#dates.format(item.mbDateBirth,'yyyy/MM/dd')}" -->
											<th>생년월일</th>
											<td><input type='text' class="form__name" id="mbDateBirth" name="mbDateBirth" 
											th:value = "${item.mbDateBirth}"
											autocomplete="off"></td>
										</tr> 
										<tr>
											<th>주소</th>
											<td>
												<!-- <input type='text' placeholder='Email' name='user-email' class="form__name"> -->
												<div class="row">
													<div class="col-md-6">
														<input type='text' placeholder='우편번호' 
															id ="mbpostalCode" name="mbpostalCode" class="form__name">
													</div>
													<div class="col-md-6">
														<button type="button" id ="addressbtn" name="addressbtn"
															class="btn btn-md btn--warning btn--wider">우편번호
															검색</button>
													</div>
												</div>
												<div class="row">
													<div class="col-md-6">
														<input type='text' placeholder='도로명주소' 
															id= "mbaddress" name="mbaddress" class="form__name">
													</div>
													<div class="col-md-6">
														<input type='text' placeholder='지번주소' 
															id ="mbrdnmAdres" name="mbrdnmAdres" class="form__name">
													</div>
												</div>
												<div class="row">
													<div class="col-md-6">
														<input type='text' placeholder='상세주소' 
															id ="mbdetailAddress" name="mbdetailAddress" class="form__name">
													</div>
													<div class="col-md-6">
														<input type='text' placeholder='참고항목' 
															id="mbseeAlso" name="mbseeAlso" class="form__name">
															
															
														<input type="hidden" id= "mblongitude" name="mblongitude">
														<input type="hidden" id= "mblatitude" name="mblatitude">
														<input type="hidden" id ="guide" name="guide" >
													</div>
												</div>
											</td>
										</tr>
									</table>
									<div class="login__control center">
										<button type='submit'
											class="btn btn-md btn--warning btn--wider"
											onclick="javascript: form.action='usrUpdate';">회원정보 변경</button>
									</div>

								</div>
								<!-- <div class="pagination paginatioon--full">
                                <a href='#' class="pagination__prev">prev</a>
                                <a href='#' class="pagination__next">next</a>
                            </div> -->

							</div>

							<!-- <div class="btn-demo center">
                                <a href="modify.html" class="btn btn-md btn--warning">회원정보 저장</a>
                            </div> -->
					</div>



					<!-- <div class="pagination paginatioon--full">
                    <a href='#' class="pagination__prev">prev</a>
                    <a href='#' class="pagination__next">next</a>
                </div> -->
				</div>
			</div>
		</section>

		<div class="clearfix"></div>

		<footer class="footer-wrapper">
			<section class="container">
				<div class="col-xs-4 col-md-2 footer-nav">
					<ul class="nav-link">
						<li><a href="#" class="nav-link__item">Cities</a></li>
						<li><a href="movie-list-left.html" class="nav-link__item">Movies</a></li>
						<li><a href="trailer.html" class="nav-link__item">Trailers</a></li>
						<li><a href="rates-left.html" class="nav-link__item">Rates</a></li>
					</ul>
				</div>
				<div class="col-xs-4 col-md-2 footer-nav">
					<ul class="nav-link">
						<li><a href="coming-soon.html" class="nav-link__item">Coming
								soon</a></li>
						<li><a href="cinema-list.html" class="nav-link__item">Cinemas</a></li>
						<li><a href="offers.html" class="nav-link__item">Best
								offers</a></li>
						<li><a href="news-left.html" class="nav-link__item">News</a></li>
					</ul>
				</div>
				<div class="col-xs-4 col-md-2 footer-nav">
					<ul class="nav-link">
						<li><a href="#" class="nav-link__item">Terms of use</a></li>
						<li><a href="gallery-four.html" class="nav-link__item">Gallery</a></li>
						<li><a href="contact.html" class="nav-link__item">Contacts</a></li>
						<li><a href="page-elements.html" class="nav-link__item">Shortcodes</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-md-6">
					<div class="footer-info">
						<p class="heading-special--small">
							A.Movie<br>
							<span class="title-edition">in the social media</span>
						</p>

						<div class="social">
							<a href='#' class="social__variant fa fa-facebook"></a> <a
								href='#' class="social__variant fa fa-twitter"></a> <a href='#'
								class="social__variant fa fa-vk"></a> <a href='#'
								class="social__variant fa fa-instagram"></a> <a href='#'
								class="social__variant fa fa-tumblr"></a> <a href='#'
								class="social__variant fa fa-pinterest"></a>
						</div>

						<div class="clearfix"></div>
						<p class="copy">&copy; A.Movie, 2013. All rights reserved.
							Done by Olia Gozha</p>
					</div>
				</div>
			</section>
		</footer>
	</div>
	</form>

	<!-- open/close -->






	<!-- JavaScript-->
	<!-- jQuery 3.1.1-->
    <script>window.jQuery || document.write('<script src="js/external/jquery-3.1.1.min.js"><\/script>')</script>
    <!-- Migrate -->
    <script src="usr/js/external/jquery-migrate-1.2.1.min.js"></script>
    <!-- jQuery UI -->
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <!-- Bootstrap 3-->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

    <!-- Mobile menu -->
    <script src="usr/js/jquery.mobile.menu.js"></script>
    <!-- Select -->
    <script src="usr/js/external/jquery.selectbox-0.2.min.js"></script>
    <!-- Swiper slider -->
    <script src="usr/js/external/idangerous.swiper.min.js"></script>

    <!-- Stars rate -->
    <script src="usr/js/external/jquery.raty.js"></script>
    <!-- Form element -->
    <script src="usr/js/external/form-element.js"></script>
    <!-- Form validation -->
    <script src="usr/js/form.js"></script>

    <!-- Custom -->
    <script src="usr/js/custom.js"></script>

	<script src="usr/js/usrCommon.js">let goUrlXdmList = "/usePerformanceList";</script>
	<script src="usr/js/usrmymenu.js"></script>
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=092a7e4df8492ca8b10861c0e49e500f&libraries=services"></script>


	 <script type="text/javascript">
		document.getElementById("addressbtn").onclick = function(){
			new daum.Postcode({
	            oncomplete: function(data) {
	                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

	                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
	                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
	                var roadAddr = data.roadAddress; // 도로명 주소 변수
	                var extraRoadAddr = ''; // 참고 항목 변수

	                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
	                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
	                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
	                    extraRoadAddr += data.bname;
	                }
	                // 건물명이 있고, 공동주택일 경우 추가한다.
	                if(data.buildingName !== '' && data.apartment === 'Y'){
	                   extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
	                }
	                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
	                if(extraRoadAddr !== ''){
	                    extraRoadAddr = ' (' + extraRoadAddr + ')';
	                }

	                // 우편번호와 주소 정보를 해당 필드에 넣는다.
	                document.getElementById('mbpostalCode').value = data.zonecode;
	                document.getElementById("mbaddress").value = roadAddr;
	                document.getElementById("mbrdnmAdres").value = data.jibunAddress;
	                
	    	
	    	        // 위도 및 경도 좌푯값 구하기
	    	        let geocoder = new kakao.maps.services.Geocoder();
	    	        geocoder.addressSearch(data.roadAddress, (result, status) => {
	    	          if (status === kakao.maps.services.Status.OK) {
	    	        	document.getElementById("mblongitude").value =result[0].x //경도
	    	        	document.getElementById("mblatitude").value =result[0].y //위도
	    	            console.log('위도 : ' + result[0].y);
	    	            console.log('경도 : ' + result[0].x);
	    	          }
	    	        });
	                
	                // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
	                if(roadAddr !== ''){
	                    document.getElementById("mbseeAlso").value = extraRoadAddr;
	                } else {
	                    document.getElementById("mbseeAlso").value = '';
	                }

	                var guideTextBox = document.getElementById("guide");
	                // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
	                if(data.autoRoadAddress) {
	                    var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
	                    guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
	                    guideTextBox.style.display = 'block';

	                } else if(data.autoJibunAddress) {
	                    var expJibunAddr = data.autoJibunAddress;
	                    guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
	                    guideTextBox.style.display = 'block';
	                } else {
	                    guideTextBox.innerHTML = '';
	                    guideTextBox.style.display = 'none';
	                }

	                
	                
	                
	            }
			
	        }).open();
		}

	</script> 


	<!-- <script type="text/javascript">
		$(document).ready(function() {
			init_BookingOne();
		});
	</script>  -->


	<!-- JavaScript-->
	<!-- jQuery 3.1.1-->
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/external/jquery-3.1.1.min.js"><\/script>')</script> -->
	<!-- Migrate -->
	<!-- <script src="js/external/jquery-migrate-1.2.1.min.js"></script> -->

	<!-- jQuery UI -->
	<!-- <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script> -->

	<!-- Bootstrap 3-->
	<!-- <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script> -->

	<!-- Magnific-popup -->
	<!-- <script src="js/external/jquery.magnific-popup.min.js"></script> -->

	<!-- Mobile menu -->
	<!-- <script src="js/jquery.mobile.menu.js"></script> -->
	<!-- Select -->
	<!-- <script src="js/external/jquery.selectbox-0.2.min.js"></script> -->

	<!-- Form element -->
	<!-- <script src="js/external/form-element.js"></script> -->
	<!-- Form validation -->
	<!-- <script src="js/form.js"></script> -->

	<!-- Custom -->
	<!-- <script src="js/custom.js"></script> -->





	<!-- <script type="text/javascript">
        $(document).ready(function () {
            init_Gallery();
        });
    </script> -->

</body>

</html>