<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{usr/block/usehead :: head}"></head> 

<body>
<form id='formList' name ='formList' method='get' class="search">
    <div class="wrapper">
        <!-- Banner -->
        <div class="banner-top">
            <img alt='top banner' src="ticketimg/title.jpg">
        </div>

        <!-- Header section -->
        <header class="header-wrapper">
             <div class="container" th:replace="~{usr/block/usenav :: navtop}">

			</div>
        </header>
        
        <div class="search-wrapper">
				<div class="container container--add">
					<div class="search" th:replace="~{usr/block/usebody :: search}">
					</div> 
				</div>
			</div>


        <!-- Main content -->
        <section class="container">
            <div class="col-sm-12">
                <h2 class="page-heading">회원탈퇴</h2>

                <div class="row">
                    <div class="container"
						th:replace="~{usr/block/usenav :: modifynav}"></div>
                    <!-- Promo boxes -->
                    <div class="content-wrapper">
                        <div class="col-sm-12" style="padding-left: 150px; padding-right: 150px;">
                            <div class="promo promo--short">
                                <img class="promo__images" alt='' src="images/tickets.png">
                                <div class="promo__head">EZticket 회원 탈퇴</div>
                                <div class="promo__describe">탈퇴 시 3일 이내 동일한 회원정보로 가입이 불가합니다. </div>
                                <div class="promo__content"></div>
                                <div class="btn-demo" style="margin: auto;">
                                    <a href="#" class="btn btn-md btn--warning">회원 탈퇴</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="pagination paginatioon--full">
                    <a href='#' class="pagination__prev">prev</a>
                    <a href='#' class="pagination__next">next</a>
                </div> -->
                </div>
            </div>

        </section>

        <div class="clearfix"></div>

        <footer class="footer-wrapper">
            <section class="container">
                <div class="col-xs-4 col-md-2 footer-nav">
                    <ul class="nav-link">
                        <li><a href="#" class="nav-link__item">Cities</a></li>
                        <li><a href="movie-list-left.html" class="nav-link__item">Movies</a></li>
                        <li><a href="trailer.html" class="nav-link__item">Trailers</a></li>
                        <li><a href="rates-left.html" class="nav-link__item">Rates</a></li>
                    </ul>
                </div>
                <div class="col-xs-4 col-md-2 footer-nav">
                    <ul class="nav-link">
                        <li><a href="coming-soon.html" class="nav-link__item">Coming soon</a></li>
                        <li><a href="cinema-list.html" class="nav-link__item">Cinemas</a></li>
                        <li><a href="offers.html" class="nav-link__item">Best offers</a></li>
                        <li><a href="news-left.html" class="nav-link__item">News</a></li>
                    </ul>
                </div>
                <div class="col-xs-4 col-md-2 footer-nav">
                    <ul class="nav-link">
                        <li><a href="#" class="nav-link__item">Terms of use</a></li>
                        <li><a href="gallery-four.html" class="nav-link__item">Gallery</a></li>
                        <li><a href="contact.html" class="nav-link__item">Contacts</a></li>
                        <li><a href="page-elements.html" class="nav-link__item">Shortcodes</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="footer-info">
                        <p class="heading-special--small">A.Movie<br><span class="title-edition">in the social
                                media</span></p>

                        <div class="social">
                            <a href='#' class="social__variant fa fa-facebook"></a>
                            <a href='#' class="social__variant fa fa-twitter"></a>
                            <a href='#' class="social__variant fa fa-vk"></a>
                            <a href='#' class="social__variant fa fa-instagram"></a>
                            <a href='#' class="social__variant fa fa-tumblr"></a>
                            <a href='#' class="social__variant fa fa-pinterest"></a>
                        </div>

                        <div class="clearfix"></div>
                        <p class="copy">&copy; A.Movie, 2013. All rights reserved. Done by Olia Gozha</p>
                    </div>
                </div>
            </section>
        </footer>
    </div>
    </form>

    <!-- open/close -->
    <div class="overlay overlay-hugeinc">

        <section class="container">

            <div class="col-sm-4 col-sm-offset-4">
                <button type="button" class="overlay-close">Close</button>
                    <p class="login__title">sign in <br><span class="login-edition">welcome to A.Movie</span></p>

                    <div class="social social--colored">
                        <a href='#' class="social__variant fa fa-facebook"></a>
                        <a href='#' class="social__variant fa fa-twitter"></a>
                        <a href='#' class="social__variant fa fa-tumblr"></a>
                    </div>

                    <p class="login__tracker">or</p>

                    <div class="field-wrap">
                        <input type='email' placeholder='Email' name='user-email' class="login__input">
                        <input type='password' placeholder='Password' name='user-password' class="login__input">

                        <input type='checkbox' id='#informed' class='login__check styled'>
                        <label for='#informed' class='login__check-info'>remember me</label>
                    </div>

                    <div class="login__control">
                        <button type='submit' class="btn btn-md btn--warning btn--wider">sign in</button>
                        <a href="#" class="login__tracker form__tracker">Forgot password?</a>
                    </div>
            </div>

        </section>
    </div>


    <!-- JavaScript-->
    <!-- jQuery 3.1.1-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/external/jquery-3.1.1.min.js"><\/script>')</script>
    <!-- Migrate -->
    <script src="usr/js/external/jquery-migrate-1.2.1.min.js"></script>
    <!-- jQuery UI -->
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <!-- Bootstrap 3-->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

    <!-- Mobile menu -->
    <script src="usr/js/jquery.mobile.menu.js"></script>
    <!-- Select -->
    <script src="usr/js/external/jquery.selectbox-0.2.min.js"></script>
    <!-- Swiper slider -->
    <script src="usr/js/external/idangerous.swiper.min.js"></script>

    <!-- Form element -->
    <script src="usr/js/external/form-element.js"></script>
    <!-- Form validation -->
    <script src="usr/js/form.js"></script>

    <!-- Custom -->
    <script src="usr/js/custom.js"></script>
    <script src="usr/js/usrCommon.js"></script>
    

    <script type="text/javascript">
        $(document).ready(function () {
            init_BookingOne();
        });
    </script>







    <!-- <script type="text/javascript">
        $(document).ready(function () {
            init_Gallery();
        });
    </script> -->

</body>

</html>