<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{xdm/infra/block/head :: head}"></head>

<body>

	<!-- Page wrapper start -->
	<div class="page-wrapper">

		<!-- Page header starts -->
		<div class="page-header" th:replace="~{xdm/infra/block/nav :: navtop}"></div>
		<!-- Page header ends -->

		<!-- Main container start -->
		<div class="main-container">

			<!-- Sidebar wrapper start -->
			<nav class="sidebar-wrapper"
				th:replace="~{xdm/infra/block/nav :: navleft}"></nav>
			<!-- Sidebar wrapper end -->

			<!-- Content wrapper scroll start -->
			<div class="content-wrapper-scroll">

				<!-- Main header starts -->
				<div
					class="main-header d-flex align-items-center justify-content-between position-relative">
					<div class="d-flex align-items-center justify-content-center">
						<div class="page-icon">
							<i class="bi bi-window-split"></i>
						</div>
						<div class="page-title d-none d-md-block">
							<h5>코드 관리</h5>
						</div>
					</div>
					<!-- Live updates start -->
					<ul
						class="updates d-flex align-items-end flex-column overflow-hidden"
						id="updates">
						<li><a href="javascript:void(0)"> <i
								class="bi bi-envelope-paper text-red font-1x me-2"></i> <span>12
									emails from David Michaiah.</span>
						</a></li>
						<li><a href="javascript:void(0)"> <i
								class="bi bi-bar-chart text-blue font-1x me-2"></i> <span>15
									new features updated successfully.</span>
						</a></li>
						<li><a href="javascript:void(0)"> <i
								class="bi bi-folder-check text-yellow font-1x me-2"></i> <span>The
									media folder is created successfully.</span>
						</a></li>
					</ul>
					<!-- Live updates end -->
				</div>
				<!-- Main header ends -->

				<!-- Content wrapper start -->
				<form name="formList" id="formList" method="post" autocomplete="off">
					<input type="hidden" name="thisPage" th:value="${vo.thisPage}"
						default="1" /> 
						<!-- <input type="hidden" id="rowNumToShow"
						name="rowNumToShow" th:value="${vo.rowNumToShow}" /> -->
					<div class="content-wrapper">
						<!-- Row start -->
						<div class="col-sm-12 col-12">
							<div class="card">
								<div class="card-body">

									<div class="row gy-2">
										<div class="col-md-3">
											<select id="shDelNy" name="shDelNy"
												class="form-select form-select-sm">
												<option value="" th:selected="${vo.shDelNy == null}">삭제여부</option>
												<option value="1" th:selected="${vo.shDelNy == 1}">Y</option>
												<option value="0" th:selected="${vo.shDelNy == 0}">N</option>
											</select>
										</div>
										<div class="col-md-3">
											<select id="shOptionDate" name="shOptionDate"
												class="form-select form-select-sm">
												<option value="" th:selected="${vo.shOptionDate == null}">날짜</option>
												<option value="1" th:selected="${vo.shOptionDate == 1}">등록일</option>
												<option value="2" th:selected="${vo.shOptionDate == 2}">수정일</option>
											</select>
										</div>
										<div class="col-md-3">
											<input type="text" id="shDateStart" name="shDateStart"
												placeholder="시작일" class="form-control form-control-sm"
												autocomplete="off"
												th:value="${#strings.substring(vo.shDateStart, 0, 10)}"
												readonly>
										</div>
										<div class="col-md-3">
											<input type="text" id="shDateEnd" name="shDateEnd"
												placeholder="종료일" class="form-control form-control-sm"
												autocomplete="off"
												th:value="${#strings.substring(vo.shDateEnd, 0, 10)}"
												readonly>
										</div>
										<div class="col-3">
											<select id="shOption" name="shOption"
												class="form-select form-select-sm">
												<option value="" th:selected="${vo.shOption == null}">검색구분</option>
												<option value="1" th:selected="${vo.shOption == null}">코드</option>
												<option value="2" th:selected="${vo.shOption == null}">코드이름</option>
											</select>
										</div>
										<div class="col-md-3">
											<div class="m-0">
												<input type="text" class="form-control form-control-sm"
													placeholder="검색어" id="shValue" name="shValue"
													th:value="${shValue}" />
											</div>
										</div>
										<div class="col-md-3">
											<div class="m-0 ">
												<button type="button" id="btnSearch" name="btnSearch"
													class="btn btn-outline-primary btn-sm">
													<i class="bi bi-search"></i>
												</button>
												<button type="button"
													class="btn btn-outline-primary btn-sm	">
													<i class="bi bi-hand-thumbs-up"></i>
												</button>
											</div>
										</div>
									</div>

									<div class="row mt-1">
										<!-- 테이터 토탈 -->
										<div th:replace="~{xdm/infra/block/pageselect :: total}"></div>
										
										<!-- 페이징 셀렉트 -->
										<div th:replace="~{xdm/infra/block/pageselect :: pageselect}"></div>
										
										
									</div>
									<div id = "lita">
										
									</div>

									
									<div class="row mt-3">
										<div class="col d-grid gap-2 d-md-flex">

											<button type="button" class="btn btn-danger btn-rounded "
												data-bs-toggle="modal" data-bs-target="#exampleModal">

												<i class="bi bi-trash-fill"></i>
											</button>


											<div class="modal fade" id="exampleModal" tabindex="-1"
												aria-labelledby="exampleModalLabel" aria-hidden="true">
												<div class="modal-dialog">
													<div class="modal-content">
														<div class="modal-header">
															<h5 class="modal-title" id="exampleModalLabel">
																삭제하시겠습니까?</h5>
															<button type="button" class="btn-close"
																data-bs-dismiss="modal" aria-label="Close"></button>
														</div>
														<div class="modal-body"></div>
														<div class="modal-footer">
															<button type="button" class="btn btn-secondary"
																data-bs-dismiss="modal">아니요.</button>
															<button type="submit" class="btn btn-primary">예
															</button>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="col d-grid gap-2 d-md-flex justify-content-md-end">
											<a th:href="@{/codeXdmInst}"><button type="button"
													class="btn btn-primary btn-rounded">
													<i class="bi bi-clipboard-plus"></i>
												</button></a>
										</div>
										<!-- <button id="button">버튼</button> -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<!-- Content wrapper scroll end -->

			<!-- App Footer start -->
			<div class="app-footer">
				<span>© Gear admin 2023</span>
			</div>
			<!-- App footer end -->

		</div>
		<!-- Main container end -->

	</div>
	<!-- Page wrapper end -->

	<!-- *************
			************ Required JavaScript Files *************
		************* -->
	<!-- 데이트 타입 픽커 -->
	<!-- <script src="xdm/js/jquery.min.js"></script>
    	<link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
		<script>
			window.addEventListener('load', function() {
				$("#shDateStart, #shDateEnd").datetimepicker({
					timepicker:false,
					format: 'Y-m-d'
				});
		});
		</script> -->
	<!-- 타입 픽커 끝 -->
	<!-- Required jQuery first, then Bootstrap Bundle JS -->

	<div th:replace="~{xdm/infra/block/jsscr :: scr}"></div>


	<script th:inline="javascript">
	let form = document.querySelector("form[name=formList]");
	let goUrlXdmForm = "/xdm/infra/index/codeGroupXdmFrom";
	let goUrlXdmList = "/codeXdmList";
	let goUrlXdmAjaxLita = "/codeXdmListAjax";
	let goUrlXdmLogout = "/login"
	
	window.addEventListener('load', function() {
		let a= [[${vo.thisPage}]];
		
		setLita(a);
		$("#shDateStart, #shDateEnd").datetimepicker({
			timepicker : false,
			format : 'Y-m-d'
			
		});
	});
	
	function setLita(thisPage,replace = false) {
		document.querySelector("input[name=thisPage]").value = thisPage;
		//sessionStorage.setItem('pageState', JSON.stringify({ page: thisPage }));
	    $.ajax({
	        async: true
	        ,cache: false
	        ,type: "post"
	        ,url: goUrlXdmAjaxLita
	        ,data : $("#formList").serialize()
	        ,success: function(response) {
	        	if (replace) {
                    history.replaceState({ page: thisPage }, null, '?page=' + thisPage);
                } else {
                    history.pushState({ page: thisPage }, null, '?page=' + thisPage);
                }
				$("#lita").empty();
				$("#lita").append(response);
				
		      
	        }
	        ,error : function(jqXHR, textStatus, errorThrown){
	            alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
	        }
	    });
	}
	
	window.addEventListener('popstate', function(event) {
        if (event.state && event.state.page) {
            setLita(event.state.page, true); 
        }
    });

	
	</script>


</body>

</html>