<div id = "lita">
	<div class="table-responsive mt-1 ">
		<table class="table align-middle m-0 text-center">
			<thead>
				<tr>
					<th><input class="form-check-input" type="checkbox" /></th>
					<th>그룹넘버</th>
					<th>그룹이름</th>
					<th>코드넘버</th>
					<th>코드이름</th>
					<th>등록일</th>
					<th>수정일</th>
					<th>삭제여부</th>
				</tr>
			</thead>
			<tbody class="align-middle">
				<tr th:if="${!#lists.isEmpty(list)}"
					th:each="list : ${list}">
					<td><input class="form-check-input" type="checkbox"
						th:id="chek+${list.ifcdSeq}" th:value="${list.ifcdSeq}"
						th:checked="false" /></td>
					<td th:text="${list.ifcgSeq}"></td>

					<!-- <td>
								<img src="xdm/images/flags/1x1/hk.svg" class="flag-img" alt="Hong Kong" />
							</td> -->
					<td><a th:text="${list.ifcgName}"></a></td>

					<td th:text="${list.ifcdSeq}"></td>
					<td><a
						th:href="@{/codeXdmForm(ifcdSeq=${list.ifcdSeq})}"
						th:text="${list.ifcdName}"></a></td>
					<td
						th:text="${#dates.format(list.ifcdRgstrDate,'yyyy/MM/dd HH:mm:ss')}"></td>
					<td
						th:text="${#dates.format(list.ifcdModifiedDate,'yyyy/MM/dd HH:mm:ss')}"></td>
					<td th:if="${list.ifcddeleteNY eq 0 }"><span
						class="badge shade-green">n</span></td>
					<td th:unless="${list.ifcddeleteNY eq 0}"><span
						class="badge shade-red">y</span></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<!-- 페이징 버튼 -->
	<div th:replace="~{xdm/infra/block/paging :: paging2}"></div>
</div>