<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{xdm/infra/block/head :: head}"></head>

<body>

	<div class="page-wrapper">


		<div class="page-header" th:replace="~{xdm/infra/block/nav :: navtop}"></div>
		<!-- 내비게이션바 상단 -->

		<div class="main-container">

			<nav class="sidebar-wrapper"
				th:replace="~{xdm/infra/block/nav :: navleft}"></nav>
			<!-- 내비게이션바 왼쪽 -->

			<div class="content-wrapper-scroll">

				<!-- Main header starts -->
				<div
					class="main-header d-flex align-items-center justify-content-between position-relative">
					<div class="d-flex align-items-center justify-content-center">
						<div class="page-icon">
							<i class="bi bi-window-split"></i>
						</div>
						<div class="page-title d-none d-md-block">
							<h5>회원 관리</h5>
						</div>
					</div>
					<!-- Live updates start -->
					<ul
						class="updates d-flex align-items-end flex-column overflow-hidden"
						id="updates">
						<li><a href="javascript:void(0)"> <i
								class="bi bi-envelope-paper text-red font-1x me-2"></i> <span>12
									emails from David Michaiah.</span>
						</a></li>
						<li><a href="javascript:void(0)"> <i
								class="bi bi-bar-chart text-blue font-1x me-2"></i> <span>15
									new features updated successfully.</span>
						</a></li>
						<li><a href="javascript:void(0)"> <i
								class="bi bi-folder-check text-yellow font-1x me-2"></i> <span>The
									media folder is created successfully.</span>
						</a></li>
					</ul>
					<!-- Live updates end -->
				</div>
				<!-- Main header ends -->

				<!-- Content wrapper start -->
				<form name="formList" id="formList" method="post" autocomplete="off">
					<div class="content-wrapper">
						<!-- Row start -->
						<div class="col-sm-12 col-12">
							<div class="card">
								<div class="card-body">

									<div class="row gy-2">
										<div class="col-md-3">
											<select id="shDelNy" name="shDelNy"
												class="form-select form-select-sm">
												<option value="" th:selected="${vo.shDelNy == null}">삭제여부</option>
												<option value="1" th:selected="${vo.shDelNy == 1}">Y</option>
												<option value="0" th:selected="${vo.shDelNy == 0}">N</option>
											</select>
										</div>
										<div class="col-md-3">
											<select id="shOptionDate" name="shOptionDate"
												class="form-select form-select-sm">
												<option value="" th:selected="${vo.shOptionDate == null}">날짜</option>
												<option value="1" th:selected="${vo.shOptionDate == 1}">등록일</option>
												<option value="2" th:selected="${vo.shOptionDate == 2}">수정일</option>
											</select>
										</div>
										<div class="col-md-3">
											<input type="text" id="shDateStart" name="shDateStart"
												placeholder="시작일" class="form-control form-control-sm"
												autocomplete="off"
												th:value="${#strings.substring(vo.shDateStart, 0, 10)}"
												readonly>
										</div>
										<div class="col-md-3">
											<input type="text" id="shDateEnd" name="shDateEnd"
												placeholder="종료일" class="form-control form-control-sm"
												autocomplete="off"
												th:value="${#strings.substring(vo.shDateEnd, 0, 10)}"
												readonly>
										</div>
										<div class="col-3">
											<select id="shAge" name="shAge"
												class="form-select form-select-sm">
												<option value="" th:selected="${vo.shOption == null}">연령제한</option>
												<option value="8" th:selected="${vo.shOption == null}">전체이용가</option>
												<option value="9" th:selected="${vo.shOption == null}">12세이용가</option>
												<option value="10" th:selected="${vo.shOption == null}">15세이용가</option>
												<option value="11" th:selected="${vo.shOption == null}">청소년이용불가</option>
											</select>
											<!-- <select id="prAgeLimit" name="prAgeLimit" class="form-select form-select-sm">
														<option value="">선택하세요</option>
														<option th:each="list : ${@codeService.selectListCachedCode(4)}" th:value="${list.ifcdSeq}" th:text="${list.ifcdName}" th:selected="${list.ifcdSeq} == ${item?.prAgeLimit}"></option>
													</select> -->
										</div>
										<div class="col-3">
											<select id="shOption" name="shOption"
												class="form-select form-select-sm">
												<option value="" th:selected="${vo.shOption == null}">검색구분</option>
												<option value="1" th:selected="${vo.shOption == null}">공연코드</option>
												<option value="2" th:selected="${vo.shOption == null}">공연타이틀</option>
											</select>
										</div>
										<div class="col-md-3">
											<div class="m-0">
												<input type="text" class="form-control form-control-sm"
													placeholder="검색어" id="shValue" name="shValue"
													th:value="${shValue}" onkeyup="enterkey()" />
											</div>
										</div>
										<div class="col-md-3">
											<div class="m-0 ">
												<button type="button" id="btnSearch" name="btnSearch"
													class="btn btn-outline-primary btn-sm">
													<i class="bi bi-search"></i>
												</button>
												<button type="button" id="btnReset"
													class="btn btn-outline-primary btn-sm">
													<i class="bi bi-hand-thumbs-up"></i>
												</button>
											</div>
										</div>
									</div>

									<div class="row mt-1">
										<div th:replace="~{xdm/infra/block/pageselect :: total}"></div>
										
										<!-- 페이징 셀렉트 -->
										<div th:replace="~{xdm/infra/block/pageselect :: pageselect}"></div>

									</div>
									<div class="table-responsive mt-1 ">
										<table class="table align-middle m-0 text-center">
											<thead>
												<tr>
													<th><input class="form-check-input" type="checkbox" /></th>
													<th>#</th>
													<th>제목</th>
													<th>기획/주최사</th>
													<th>연령제한</th>
													<th>관객수</th>
													<th>상세설명</th>
													<th>개봉일</th>
													<th>종료일</th>
													<th>등록일</th>
													<th>수정일</th>
													<th>삭제여부</th>
												</tr>
											</thead>
											<tbody class="align-middle">
												<tr th:if="${!#lists.isEmpty(list)}"
													th:each="list : ${list}">
													<td><input class="form-check-input" type="checkbox"
														th:id="chek+${list.prSeq}" th:value="${list.prSeq}"
														th:checked="false" /></td>
													<td th:text="${list.prSeq}"></td>

													<!-- <td>
																<img src="xdm/images/flags/1x1/hk.svg" class="flag-img" alt="Hong Kong" />
															</td> -->
													<td><a
														th:href="@{/performanceXdmForm(prSeq=${list.prSeq})}"
														th:text="${list.prTitle}"></a></td>
													<td th:text="${list.prHostedPlanned}"></td>

													<!-- <td th:text = "${list.prAgeLimit}"></td> -->
													<td th:if="${list.prAgeLimit != null}"
														th:text="${@codeService.selectOneCachedCode(list.prAgeLimit)}"></td>
													<td th:unless="${list.prAgeLimit != null}"></td>

													<td th:text="${list.prAttenDance}"></td>
													<td th:text="${list.prDetails}"></td>
													<td
														th:text="${#dates.format(list.prStartDate,'yyyy/MM/dd')}"></td>
													<td th:text="${#dates.format(list.prEndDate,'yyyy/MM/dd')}"></td>
													<td
														th:text="${#dates.format(list.prRgstrDate,'yyyy/MM/dd HH:mm:ss')}"></td>
													<td
														th:text="${#dates.format(list.prModifiedDate,'yyyy/MM/dd HH:mm:ss')}"></td>
													<td th:if="${list.prdeleteNY eq 0}"><span
														class="badge shade-green">n</span></td>
													<td th:unless="${list.prdeleteNY eq 0}"><span
														class="badge shade-red">y</span></td>
												</tr>
											</tbody>
										</table>
									</div>

									<!-- 페이징 버튼 -->
									<div th:replace="~{xdm/infra/block/paging :: paging}"></div>


									<div class="row mt-3">
										<div class="col d-grid gap-2 d-md-flex">

											<button type="button" class="btn btn-danger btn-rounded "
												data-bs-toggle="modal" data-bs-target="#exampleModal">

												<i class="bi bi-trash-fill"></i>
											</button>


											<div class="modal fade" id="exampleModal" tabindex="-1"
												aria-labelledby="exampleModalLabel" aria-hidden="true">
												<div class="modal-dialog">
													<div class="modal-content">
														<div class="modal-header">
															<h5 class="modal-title" id="exampleModalLabel">
																삭제하시겠습니까?</h5>
															<button type="button" class="btn-close"
																data-bs-dismiss="modal" aria-label="Close"></button>
														</div>
														<div class="modal-body"></div>
														<div class="modal-footer">
															<button type="button" class="btn btn-secondary"
																data-bs-dismiss="modal">아니요.</button>
															<button type="submit" class="btn btn-primary">예
															</button>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="col d-grid gap-2 d-md-flex justify-content-md-end">
											<a th:href="@{/performanceXdmInst}"><button type="button"
													class="btn btn-primary btn-rounded" oncl>
													<i class="bi bi-clipboard-plus"></i>
												</button></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<!-- Content wrapper scroll end -->

			<!-- App Footer start -->
			<div class="app-footer">
				<span>© Gear admin 2023</span>
			</div>
			<!-- App footer end -->

		</div>
		<!-- Main container end -->

	</div>
	<!-- Page wrapper end -->

	<!-- *************
			************ Required JavaScript Files *************
		************* -->
	<!-- 데이트 타입 픽커 -->
	<!-- <script src="xdm/js/jquery.min.js"></script>
    	<link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
		<script>
			window.addEventListener('load', function() {
				$("#shDateStart, #shDateEnd").datetimepicker({
					timepicker:false,
					format: 'Y-m-d'
				});
		});
		</script> -->
	<!-- 타입 픽커 끝 -->
	<!-- Required jQuery first, then Bootstrap Bundle JS -->

	<script src="xdm/js/bootstrap.bundle.min.js"></script>
	<script src="xdm/js/modernizr.js"></script>
	<script src="xdm/js/moment.js"></script>

	<!-- *************
			************ Vendor Js Files *************
		************* -->

	<!-- Overlay Scroll JS -->
	<script src="xdm/vendor/overlay-scroll/jquery.overlayScrollbars.min.js"></script>
	<script src="xdm/vendor/overlay-scroll/custom-scrollbar.js"></script>

	<!-- News ticker -->
	<script src="xdm/vendor/newsticker/newsTicker.min.js"></script>
	<script src="xdm/vendor/newsticker/custom-newsTicker.js"></script>


	<!-- Main Js Required -->
	<script src="xdm/js/main.js"></script>


	<script type="text/javascript">
		let form = document.querySelector("form[name=formList]");
		let goUrlXdmForm = "/xdm/infra/index/codeGroupXdmFrom";
		let goUrlXdmList = "/performanceXdmList";
		let seq = document.querySelector("input[name=prSeq]");

		window
				.addEventListener(
						'load',
						function() {
							$("#shDateStart, #shDateEnd").datetimepicker({
								timepicker : false,
								format : 'Y-m-d',

							});

							document.getElementById("btnSearch").onclick = function() {
								form.action = goUrlXdmList;
								form.submit();
							};

							// 				document.getElementById("btnReset").onclick = function () {
							// 				    location.href = goUrlXdmList;
							// 				}

							// 				document.getElementById("btnForm").onclick = function () {
							// 				    goForm(0);
							// 				}

							goForm = function(keyValue) {
								seq.value = keyValue;
								form.action = goUrlXdmForm;
								form.submit();
							}
							goList = function(thisPage) {
								document.querySelector("input[name=thisPage]").value = thisPage;
								form.action = goUrlXdmList;
								form.submit();
							}
						});
		function enterkey() {

			if (window.event.keyCode == 13) {
				form.action = goUrlXdmList;
				form.submit();
			}
		}
	</script>

</body>


</html>